[2020-03-17 12:42] trybik opened #2 "Wrong date (and time) for BS entry"
https://github.com/openZH/covid_19/blob/43ff8df1a118aaf2e18dfecb33c9d66a263302af/COVID19_Cases_Cantons_CH_total.csv#L56

The source clearly says:

[2020-03-17 13:31] jb3-2 commented on #2
You are right. Sorry, will fix it now.

[2020-03-17 13:33] #2 closed

[2020-03-19 07:42] HeidiSeibold opened #8 "Image blocked by content security policy"
This is what I see when I go to https://db.schoolofdata.ch/project/73

![image](https://user-images.githubusercontent.com/14146757/77043281-7c197500-69bd-11ea-971f-598787f4b167.png)

Great initiative!

[2020-03-19 12:08] zdavatz opened #10 "Enable Esri Data Format"
Es wäre gut, wenn die Daten in diesem Format (gleich wie Italien und China) aufbereitet werden:

Pro Tag eine Zeile für alle Kantone
https://github.com/zdavatz/covid19_ch/blob/master/data-cantons-csv/dd-covid19-ch-cantons-20200318-example.csv

Pro Tag eine Zeile für die ganze Schweiz.
https://github.com/zdavatz/covid19_ch/blob/master/data-switzerland-csv/dd-covid19-ch-switzerland-20200318-example.

[2020-03-19 12:25] zdavatz commented on #10
Wir pflegen jetzt die Höhen und Breitengrade ein.

[2020-03-19 15:56] rneher opened #13 "ICU patients/ventilation"
Thanks a lot. great work.

We are keen to use these data in
neherlab.org/covid19/

It would be useful to add a column for patients in intensive care.  Italy provides good examples here

https://github.com/pcm-dpc/COVID-19

[2020-03-20 07:56] zdavatz opened #22 "einheitliche Datenfiles der Kantone"
Besteht die Möglichkeit, dass wir für alle Kantone ein einheitliches CSV-Format kriegen? Am besten wäre ein Tool, welches das Format validiert vor dem Upload.

[2020-03-20 08:29] tlorusso commented on #22
Ja, hat hohe Prio! Sollten das Format heute angleichen (inkl.
Beispiel-File). Hast du bezüglich Validierung einen Vorschlag? WIr wollen
die Hürden so tief wie möglich behalten, 'Validierung' ginge auch bei
Sichtung der Pull-Requests.

*Thomas Lo Russo*
*th.lorusso@gmail.com <th.lorusso@gmail.com>*

Am Fr., 20. März 2020 um 08:57 Uhr schrieb Zeno R.R. Davatz <
notifications@github.com>:

[2020-03-20 08:34] herrstucki commented on #22
Es wäre wahrscheinlich nicht zu aufwändig, das mit einer GitHub Action und z.B. [CSVLint](https://csvlint.io/about) für PRs zu automatisieren.

[2020-03-20 08:53] zdavatz commented on #22
Ich würde irgendein Bash-Script machen. Seit ihr auf Linux?

[2020-03-20 09:11] zdavatz commented on #22
Könnt ihr bitte diese Vorlagen verwenden zum abfüllen der Daten pro Kanton?

https://github.com/zdavatz/covid19_ch/blob/master/data-cantons-csv/dd-covid19-ch-cantons-latest.csv

hier noch das File für die ganze Schweiz

https://github.com/zdavatz/covid19_ch/blob/master/data-switzerland-csv/dd-covid19-ch-switzerland-latest.csv

[2020-03-20 09:26] zdavatz commented on #22
Hier noch das README dazu: https://github.com/zdavatz/covid19_ch/blob/master/README.md#data-per-canton

[2020-03-20 09:56] andreasamsler commented on #8
Thanks @HeidiSeibold, fixed.

[2020-03-20 09:56] #8 closed

[2020-03-20 10:00] andreasamsler commented on #13
Hi @rneher, you have been or are in contact already about that with Fabienne, right? Best, Andreas

[2020-03-20 10:24] zdavatz commented on #22
@herrstucki warum wäre das zu aufwendig? Finde ich eine sehr gut Idee!

[2020-03-20 10:30] zdavatz commented on #22
https://stackoverflow.com/questions/33523362/how-to-compare-two-csv-files-in-windows/45591193

[2020-03-20 10:57] zdavatz commented on #22
Hier ein `awk` Befehl für Linux, welcher die Headers von zwei CSV Files vergleicht und die Headers anzeigt wenn sie übereinstimmen:
`awk 'NR==FNR{A[$1]++;next}A[$1]' COVID19_Fallzahlen_Kanton_AR_total.csv COVID19_Fallzahlen_Kanton_ZH_total.csv`

[2020-03-20 10:59] rokroskar commented on #22
@zdavatz I didn't see this issue before - I opened a PR to do automatic validation - see #24. I used a js library I found, but I'm sure it could be done with awk, I just don't have enough skills :)

[2020-03-20 11:07] zdavatz commented on #22
Great, whatever works, works! Just has to be used. Thank you!

[2020-03-20 11:08] rokroskar commented on #22
But, it doesn't compare the structure to some template - it just checks that all the rows are valid given the header _in the same file_

[2020-03-20 11:09] rokroskar commented on #22
So I think what you are after can be a second step of this validation - happy to add it if you hand me a script

[2020-03-20 11:14] fabian commented on #22
They are currently working on a standardised structure: https://twitter.com/OpenDataZH/status/1240934043971211264

[2020-03-20 11:18] zdavatz commented on #22
@rokroskar are you also validating the name of the column header? If not, please do that too. Spelling has to be correct as well as the Upper and Lowercase.

[2020-03-20 11:21] zdavatz commented on #22
With `awk` you do `awk 'NR==FNR{A[$1]++;next}A[$1]' file_1 file_2` if they match it prints the header of the *files* as the header should be the same.

[2020-03-20 11:28] herrstucki commented on #22
The advantage of using something more sophisticated like CSVLint is that you can also validate the content of each cell against a defined schema, i.e. validate numbers, date formats etc.

I could give it a shot this afternoon unless someone's already working on it!

[2020-03-20 11:54] rokroskar commented on #22
@herrstucki certainly using something more sophisticated would be nice - at the moment there is no schema, afaik? And does CSVLint exist only as a service/API or is there a command-line tool that could be used?

@zdavatz yes we should validate the headers - what I did right now was a very quick solution to the problems caused by manual data inputs (corrupted TI data yesterday, for example). I gues

[2020-03-20 12:03] zdavatz commented on #22
@rokroskar still, I would always validate them! Typos happen fast!

[2020-03-20 12:06] rokroskar commented on #22
Could one of the maintainers (@andreasamsler @tlorusso) make the validation check mandatory for merges to master?

[2020-03-20 12:12] tlorusso commented on #22
We're looking into it. In a first step, we will harmonize the structure of the example file as well as the cantonal files (this afternoon). In a next step, we will set up a validation process, @metaodi is thinking about doing it with CSVlinter and github actions as you suggested @herrstucki.

[2020-03-20 12:15] rokroskar commented on #22
@tlorusso a first csv validation action was already merged in #24 - it's running on all pushes, but it's not required for merges. Even before setting up schemas etc this will catch and prevent manual edit errors.

[2020-03-20 13:17] zdavatz opened #29 "Bitte Files in den Ordnern unterscheiden"
Könnt Ihr bitte die Files in unterschiedlichen Ordner sammeln, Vorschlag:

* fallzahlen_kanton_total_csv -> für alle Updates. Ein File pro Kanton.
* fallzahlen_kanton_alter_geschlecht_csv -> für detailliertere Infos. Ein File pro Kanton.

Die Files in den Ordner sollten validiert sein, d.h. gleiche Anzahl Spalten, gleiche Spalten Titel.

[2020-03-20 13:28] herrstucki commented on #22
@tlorusso @metaodi I opened a PR in #30 where I added schema validation. The schema is a standard [JSON Schema](https://json-schema.org/understanding-json-schema/index.html). It's currently incomplete.

[2020-03-20 13:30] zdavatz commented on #22
Lets merge it in ;).

[2020-03-20 14:30] tlorusso commented on #29
Done. Bei den Total-Files ist es nun so, dass sie alle die ersten 11 Spalten gemeinsam haben. Bei vereinzelten Kantonen hat es zu hinterst aber noch zusätzliche Spalten (Infos die es nur für diese Kantone gibt). Die Alter / Geschlecht Files sind noch nicht harmonisiert.

[2020-03-20 14:30] #29 closed

[2020-03-20 14:33] zdavatz commented on #29
Danke!

[2020-03-20 14:34] zdavatz commented on #29
Lass mich wissen, wann ich `git pull` machen kann.

[2020-03-20 14:37] zdavatz commented on #29
Als Referenz für unsere Karte. https://github.com/zdavatz/covid19_ch/issues/5

[2020-03-20 14:38] tlorusso commented on #13
We have added the column. As soon as we find a source for this information, we'll start to add it to the files.

[2020-03-20 14:38] #13 closed

[2020-03-20 16:21] herrstucki commented on #22
Hi @tlorusso! Thanks for merging the PR. I noticed that right now the schema validation is a bit useless 😅 because a) the schema is quite incomplete and b) the files were moved.

I think two things would be useful as next steps:
1. Change the script so that it can work with multiple schemas (probably one schema per CSV folder would make sense?)
2. Write the schema(s)

I can do 1. and give 2. a sho

[2020-03-20 17:06] tlorusso commented on #22
For the 'total_fallzahlen'-Folder, the first 11 columns have to be identical in each file, as this would allow us to merge them. However, we want to allow for the collection of further information beyond this 11 columns, if necessary. Do you guys have a suggestion? Could we define a shema based on the shared columns?

[2020-03-20 17:36] herrstucki commented on #22
@tlorusso OK, sounds good. I'll work on it when I find some time. Also thanks to you and everyone else for managing this effort! 🙏

[2020-03-20 17:46] zdavatz commented on #22
@tlorusso Please use these samples:

1. https://github.com/zdavatz/covid19_ch/blob/master/data-cantons-csv/dd-covid19-ch-cantons-20200319-example.csv

2. https://github.com/zdavatz/covid19_ch/blob/master/data-switzerland-csv/dd-covid19-ch-switzerland-20200319-example.csv

It is the Italian standard, and it is really good.

[2020-03-21 01:08] rokroskar commented on #22
@herrstucki I would say that once the schema validation is in place, then indeed my check is not needed - I think until the schema is in-place, however, the schema validation action needs to be disabled and the simpler one verifying that at least the individual CSV files are correctly formatted should be a required status check. I've lost track a bit of the schema discussions tbh unfortunately...

[2020-03-21 06:30] zdavatz commented on #22
The new README is good!

[2020-03-21 09:34] betatim opened #40 "Rmd or Jupyter notebooks"
Does someone know of Rmd or Jupyter notebooks that read and visualise the data?

If yes it could be nice to include one or two of them here. We can also add a mybinder.org link to let people run them.

Great work!

[2020-03-21 09:48] zdavatz opened #41 "Kantonsnummer vorhanden?"
Ist die Kantonsnummer schon in den Files vorhanden? Siehe https://github.com/zdavatz/covid19_ch/issues/7#issuecomment-602005339

[2020-03-21 09:59] tlorusso commented on #10
Thanks for all your valuable inputs @zdavatz!

The italian standard is great! However at the moment we are still far away from having all this information (currently positive etc.), the current format of the files aims at collecting the essential information as it is available for the Cantons and make data collection easy. As soon as we are ready to merge, we can create one single national file th

[2020-03-21 10:04] zdavatz commented on #10
Sure, take your time. We are working on it as well, see: https://github.com/zdavatz/covid19_ch#data-per-canton

[2020-03-21 10:06] zdavatz commented on #10
The goal is to grab your data, build the Italian format and while doing so create a report file, that shows which of your files are incomplete or not up to date and then load everything into our Map at: http://covid19.ddrobotec.com/

See: https://github.com/zdavatz/covid19_ch/issues/11

[2020-03-21 10:13] jb3-2 commented on #40
Maybe one of those here is close to what you're looking for? https://db.schoolofdata.ch/project/65

[2020-03-21 13:44] zdavatz opened #53 "COVID19_Fallzahlen_Kanton_GL_total.csv uses different column names compared to rest"
Please correct this:

COVID19_Fallzahlen_Kanton_GL_total.csv uses different column names compared to rest

https://github.com/openZH/covid_19/blob/master/fallzahlen_kanton_total_csv/COVID19_Fallzahlen_Kanton_GL_total.csv

Reference: https://github.com/zdavatz/covid19_ch/issues/12

[2020-03-21 13:46] zdavatz commented on #53
@tlorusso please check this.

[2020-03-21 13:47] tlorusso commented on #53
Feel free to open a PR and fix it! Otherwise i'll correct this this evening.

Thx for the hint.

[2020-03-21 13:47] zdavatz commented on #53
ok

[2020-03-21 13:57] zdavatz commented on #53
Correct: date,time,abbreviation_canton_and_fl,ncumul_tested,ncumul_conf,ncumul_hosp,ncumul_ICU,ncumul_vent,ncumul_released,ncumul_deceased,source
Wrong:
date,time,abbreviation_canton,ncumul_tested,ncumul_conf,ncumul_hosp,ncumul_ICU,ncumul_vent,ncumul_released,ncumul_deceased,source

Looks like only abbreviation_canton is wrong. Should be abbreviation_canton_and_fl.

[2020-03-21 14:11] #53 closed

[2020-03-21 14:12] rokroskar commented on #40
@betatim we started a project on the Renku platform for this: https://renkulab.io/projects/covid-19/covid-19-public-data

The notebook for this data is here: https://renkulab.io/projects/covid-19/covid-19-public-data/files/blob/notebooks/examples/openzh-covid-19-example.ipynb

We would be very happy if people contributed more visualizations and analysis! In particular, I would love to scale these

[2020-03-21 14:27] matjung opened #57 "CSV to JSON"
https://www.micro-work.net/covid/
I am planing to add you to my repository of slave covid webservices
First in csv, later in json format

[2020-03-21 14:30] matjung opened #58 "https://db.schoolofdata.ch/project/73?"
Hello,
I am curious - what is the story with that link in the readme.
Is this a marketing page for the gitub repository?

[2020-03-21 14:38] baryluk commented on #57
Why is this the issue? It is better to keep the data in this repo in one format. If you can convert it to any data you want. Or consume as csv in javascript for the best results.

[2020-03-21 14:49] metaodi commented on #58
It's the project page of the hackathon that started this repo. Btw, on that page you find a link to a forum and chat (mattermost), feel free to join and ask your questions.

[2020-03-21 14:49] #58 closed

[2020-03-21 14:50] metaodi commented on #57
I agree with @baryluk. Can we close this issue?

[2020-03-21 14:54] zdavatz commented on #57
For sure I agree with @baryluk too. @matjung just clone the Repo and do whatever you want.

[2020-03-21 14:55] baryluk opened #61 "A quick script for computing latest totals"
In the directory with data:

[code]
6262

Getting latest confirmed cases by subdivision:

[code]

[code]

Feel free to include it in the repo, or readme. Public Domain. Signed off, Witold Baryluk.

[2020-03-21 15:21] baryluk opened #63 "Primitive scraper for LU"
[code]

[code]

[2020-03-21 15:26] baryluk opened #64 "Primitive scraper for ZH"
[code]

[code]

[2020-03-21 15:31] baryluk opened #65 "Primitive scraper for TG"
[code]

[code]

[2020-03-21 15:32] ebeusch commented on #63
I'm working on a scraper for LU similar to those for BE/SG that updates the data too.

[2020-03-21 15:44] baryluk opened #66 "Primitive scraper for GR"
[code]
[code]

[2020-03-21 15:45] tlorusso commented on #61
Might indeed make sense to include this in the readme, especially if we could 'refresh' it automatically after a file in the 'total'-folder is updated.

[2020-03-21 16:00] baryluk opened #67 "Primitive scraper for GE"
[code]

[code]

using pdftotext from poppler-utils (using version 0.71.0).

There are some extra data in pdf, like number of hospitalized cases, number of cases with care, and number of cases with intensive care.

There is also this pdf, with a nice table and two day history (yesterday and today)
https://www.ge.ch/document/covid-19-situation-epidemiologique-geneve/telecharger
but the table and gra

[2020-03-21 16:05] baryluk commented on #63
It might be better to make the csv file updater a separate component, that takes input from scraper and name of the canon / or csv file to update.

This way the scraper is way simpler by itself, and there is less boilerplate.

[2020-03-21 16:15] tlorusso opened #68 "better monitoring of the updating process"
As more and more people is involved (yay!) in updating the data and building scrapers, we might have to start thinking about how to monitor the updating process, and think about how we can ensure that the data is being updated even if one of the scrapers fails or someone forgets to check for new data.

Do you habe suggestions how we could manage this @metaodi @baryluk @ebeusch @herrstucki @andreas

[2020-03-21 16:18] baryluk commented on #61
If you want I can make the second script output in more Markdown-friendly format, so it can be easily copy pasted into README.md on updates or something.

[2020-03-21 16:19] baryluk commented on #68
That is a good point. Would be nice to know which stuff needs attention or is outdated.

[2020-03-21 16:20] baryluk opened #69 "Primitive scraper for SH"
[code]

[code]

This is really hacky, because sh.ch is absolutely abhorrent with amount of JavaScript and content that is loaded dynamically. But it works.

The URL that generates json content, was reverse engineered from looking at network traffic when loading this site: https://sh.ch/CMS/Webseite/Kanton-Schaffhausen/Beh-rde/Verwaltung/Departement-des-Innern/Gesundheitsamt-3209198-DE.html

I have

[2020-03-21 16:34] baryluk opened #70 "Primitive scraper for BE"
[code]

[code]

[2020-03-21 16:36] zdavatz commented on #69
;) thanks for hacking!

[2020-03-21 16:36] zdavatz commented on #65
nice!

[2020-03-21 16:40] ebeusch commented on #69
Please do UR too :)

[2020-03-21 16:42] zdavatz commented on #66
nice!

[2020-03-21 16:43] zdavatz commented on #63
nice!

[2020-03-21 16:44] zdavatz commented on #61
nice work!

[2020-03-21 16:47] ebeusch commented on #68
I think at the moment we lack a good overview of which cantons are outdated (incl. historic data) and where it might be necessary to get information by going through news outlets etc.

At the moment there also seems to be some double work. This includes both scrapers and manual updates. So, once there are scrapers (@baryluk seems to get one out by the minute!) it might also be good to assign who i

[2020-03-21 16:48] zdavatz commented on #69
@baryluk great hacking Sir, great Hacking!

[2020-03-21 16:49] baryluk opened #71 "Primitive scraper for BS"
[code]

[code]

Very sloppy. It goes to the gd.bs.ch homepage, and takes the first bulletin, then follows it and try to parse. It looks last 6 days the text was relatively consistent in the form, so the script should work fine.

[2020-03-21 16:53] rokroskar commented on #68
The covidtracking project (covidtracking.com) uses this: https://github.com/COVID19Tracking/covid-tracking - it generates diffs of the sites they are monitoring for updates and shoots off a message to slack when one needs attention. Seems like something similar might be useful here? I think here it would be great if the scrapers could be consolidated into one codebase so that the error reporting e

[2020-03-21 16:56] zdavatz commented on #71
works great!

[2020-03-21 16:58] baryluk opened #72 "Primitive scraper for UR"
[code]

[code]

[2020-03-21 16:58] baryluk commented on #69
Done. https://github.com/openZH/covid_19/issues/72

[2020-03-21 16:59] zdavatz commented on #64
nice! Works great!

[2020-03-21 17:11] baryluk opened #73 "Primitive scraper for NE"
[code]

[code]

[2020-03-21 17:13] baryluk commented on #68
Yeah. I did not expect to write so many, but they all work. I will put them into my fork of the repo, and add a script to run all of them, normalize various date formats, and create a consolidated output of new data. Then we could run it from cron, or manually. Once I have few running, I will open MR.

[2020-03-21 17:16] zdavatz commented on #68
very good work @baryluk !!!!

[2020-03-21 17:21] baryluk opened #74 "Primitive scraper for JU"
[code]

[code]

[2020-03-21 17:37] baryluk opened #75 "Primitive scraper for AG"
[code]

[code]

[2020-03-21 17:54] zdavatz commented on #75
I love it! Real hacking! A beauty!

[2020-03-21 17:57] metaodi commented on #68
@baryluk I will work on consolidating the scrapers tonight, maybe we can exchange later on mattermost to join forces. I want to schedule all scrapers with Github actions.

[2020-03-21 17:58] #57 closed

[2020-03-21 18:06] baryluk commented on #75
It is hacky, but actually it is actually a bit more robust than parsing HTML / XML directly, and navigating the DOM tree from the top.

I am just finishing the meta-scrapper to run all the scripts, report any errors on one that fail, and present a table of new data.

[2020-03-21 18:06] zdavatz commented on #68
I would go the way @baryluk suggests.

I suggest you have cronjob that runs his scrappers after the media conferences of the cantons or lets say every two hours. If the scrapper finds new data, then github actions should push the new numbers to github, so that data can be visualized.

Github action should only be called to update the data on github. The scrappers should be run by a cronjob.

[2020-03-21 18:18] zdavatz commented on #75
It is the best way you are doing it!

Great! If possible please write a report file after every run.

[2020-03-21 19:09] baryluk commented on #68
Progress report as of now:

[code]

XX is a test scraper that fails on purpose. Here to show that the rest of the scrapers run and are parsed.

[2020-03-21 19:14] Eisit opened #77 "Add neighbouring countries' regions"
As the borders are not closed (and even if closed, wouldn't be foolproof), it would be interesting to collect and display the contamination rates of neighbouring France/Italy/Germany/Austria; ideally not the country-wide average, but the border regions only.

For France, one can find the numbers for _Ain_ and _Haute-Savoie_ faily clearly in "_point de situation_"-titled PDFs:
https://www.auvergne-

[2020-03-21 19:16] baryluk commented on #77
What do you mean "display"?

Yes, it is in our best interest, to have this data, but not necessarily in this repo. If the data for neighbouring countries' regions are already available, maybe these things should be aggregated in some different project? If this repo is then consumed back by other project, it could be really convoluted to figure out who is the source of truth on what.

[2020-03-21 19:19] zdavatz commented on #68
looks great!

[2020-03-21 19:20] zdavatz commented on #68
@baryluk Let me know when I can test your script.

[2020-03-21 19:22] zdavatz commented on #77
I agree with @baryluk lets focus on the cantons of Switzerland.

[2020-03-21 19:22] Eisit commented on #77
Ah, you are right this may not be in scope for this project.

[2020-03-21 19:22] #77 closed

[2020-03-21 19:41] baryluk commented on #68
@zdavatz

https://github.com/baryluk/covid_19/tree/master/scrapers

Only tested on Linux.

curl, and pdftotext (from poppler-utils) needed, plus standard Unix utilities. Will probably work on other oses, like BSD, macOS, and WSL.

[2020-03-21 19:45] baryluk commented on #77
Thanks for the links tho. Will be useful.

[2020-03-21 19:57] baryluk commented on #61
`../scripts/latest_per_canton.sh` output:

| Canton | Confirmed cases | Last update |
|:------:| ---------------:|:----------- |
|   VD   |            1432 | 2020-03-20  |
|   TI   |             918 | 2020-03-21  |
|   GE   |             873 | 2020-03-20  |
|   ZH   |             773 | 2020-03-20  |
|   BE   |             377 | 2020-03-20  |
|   BS   |             299 | 2020-03-21  |
|   VS   |

[2020-03-21 20:02] apfeuti opened #78 "REST-API to provide our data"
I'm developing a REST-API to provide our data in a machine-readable way. This helps other projects to integrate our data. Read more here: https://github.com/apfeuti/covid_19/blob/rest-api/rest/README.md

Leave your comment - if you find it useful, then I will make a pull-request.

I'm unsure if my REST-API is reading the correct file.

Regards
Andreas

[2020-03-21 20:12] matjung commented on #57
Thanks

[2020-03-21 20:15] matjung commented on #58
Bon. Thanks.

[2020-03-21 20:33] baryluk commented on #68
I did setup a cronjob to run every 1 hour on my server: https://www.functor.xyz/covid_19/scrapers/outputs/

That is just a temporary solution obviously, and more integration is needed with this repo, and csv files.

But is good enough for the start.

I will write few more scrapers soon. But I would not be able to write all, as some cantons (for example Appenzell Innerrhoden), really don't make it

[2020-03-21 21:27] zdavatz commented on #68
great work!

[2020-03-21 21:27] zdavatz commented on #68
Will pull now!

[2020-03-21 21:34] zdavatz commented on #68
[code]
I am on Gentoo Linux

[2020-03-21 21:42] baryluk commented on #68
It must be Python 3.8.0+. It is using assignment expression for regexp, to make code shorter. I will rewrite it to work in previous Python versions too. For your convenience.

[2020-03-21 21:45] zdavatz commented on #68
ok, thank you. I could also try to compile python-3.8 from source on Gentoo.

This works with 3.7.3

[code]

[2020-03-21 21:45] baryluk commented on #68
@zdavatz Pull again, and try again. Should work with python 3.7 now.

[2020-03-21 21:49] zdavatz commented on #68
works great, thank you!
[code]
how do I use `parse_scrape_output.py`

[2020-03-21 21:50] baryluk commented on #68
`parse_scrape_output.py` is just a small script that transforms each scraper output into a single line.

From:

[code]

into:

```ZH 2020-03-20T16:30     773       - OK 2020-03-21T22:48:22+01:00```

It is automatically called in `meta_scrape.sh` on each individual scraper.

[2020-03-21 21:52] zdavatz commented on #68
Ok, great! And where is the output written to? You can compare the numbers buy using this https://github.com/zdavatz/covid2019_ch_map

[2020-03-21 21:54] zdavatz commented on #61
Great! Then I will start using this for https://github.com/zdavatz/covid2019_ch_map

[2020-03-21 21:55] zdavatz commented on #61
let me know when I can test.

[2020-03-21 21:56] zdavatz commented on #78
please make a pull request.

[2020-03-21 21:57] baryluk commented on #68
@zdavatz It is written just to standard output. You can save it, usual way like

`./meta_scrape.sh | tee current.txt`

or something.

I have script does comparison of previous scrape and current scrape, and do diffing, it preserves the full history as of now.

https://www.functor.xyz/covid_19/scrapers/outputs/

I will make a driver for meta_scrape to convert data into csv, and write (append) them

[2020-03-21 22:02] zdavatz commented on #68
works great!

Great!

Please keep your server running, for historical reasons. You could actually create a folder for each day, with a file per canton. Like that the data is always available to check.

Ok, great.

[2020-03-21 22:25] baryluk commented on #68
That is the plan. I should have the pull request ready tomorrow evening with few more scrapers, and integration into csv generation per canton.

[2020-03-21 22:42] schw4b opened #80 "Cases für Solothurn"
Gibt es Daten ebenfalls für Solothurn, sonst wären ja alle Kanton da

Also,  COVID19_Fallzahlen_Kanton_SO_total.csv

[2020-03-21 22:47] metaodi commented on #80
Von Solothurn fehlen aktuell offizielle Zahlen. Du kannst gerne mithelfen, diese Lücke zu schliessen.

[2020-03-21 22:50] metaodi commented on #78
I don't think the API should be part of this repo. Consume the data, the CSVs are perfectly machine-readable 😉

To be clear: an API would be awesome, I would just propose to do this as a separate thing.

[2020-03-22 01:02] baryluk commented on #68
I think I implemented all scrappers that can be implemented. There might be one or two more that could be done, but it could require a lot of fuzzy matching, and possible even machine learning. Too hard.

Few sources are completely missing.

Few are tricky, but doable, and are working for a moment.

I did summarize status in:

https://github.com/baryluk/covid_19/blob/master/scrapers/STATUS.md

and

[2020-03-22 07:10] zdavatz commented on #78
@apfeuti you could just add it into a separate repo or publish it on your Fork, if it is not accepted here. I will pull it for my fork.

[2020-03-22 08:38] andristei commented on #80
Habe eine Email an den kantonalen Führungsstab von Solothurn betreffend Publizierung der Daten geschickt. Mal schauen ob sie Zeit haben darauf zu antworten

[2020-03-22 08:39] zdavatz commented on #80
@andristei super Danke Dir!

[2020-03-22 09:03] apfeuti commented on #78
It's already published on my fork - in the branch 'rest-api':
https://github.com/apfeuti/covid_19/tree/rest-api/rest

[2020-03-22 09:20] zdavatz commented on #78
@apfeuti sehr schön! Kannst du das irgendwo auf einem Server laufen lassen, sodass andere darauf zugreifen können?

[2020-03-22 09:25] zdavatz commented on #78
I also pulled you branch: https://github.com/zdavatz/covid_19 and updated the README on my Fork. https://github.com/zdavatz/covid_19

[2020-03-22 09:26] zdavatz commented on #80
Ich versuche es auch via Twitter: https://twitter.com/zdavatz/status/1241650896762699777?s=20

[2020-03-22 09:27] zdavatz commented on #78
Übrigens werden die Scrapper Fallzahlen jetzt hier gesammelt. https://www.functor.xyz/covid_19/scrapers/outputs/

[2020-03-22 09:37] apfeuti commented on #78
Ich habe es bereits auf meinem Server deployt (temporäre Lösung, bis wir eine besser Hosting-Lösung haben). Siehe Example-Calls in README.
https://github.com/apfeuti/covid_19/blob/rest-api/rest/README.md

[2020-03-22 09:49] zdavatz commented on #78
Sehr schön! Kannst du diese Daten auch als REST-API zur Verfügung stellen? https://www.functor.xyz/covid_19/scrapers/outputs/

[2020-03-22 10:26] tlorusso commented on #78
Wow, nice API! You guys are just awesome. But could we, as @metaodi has already suggested, keep that separate? This repo should focus on data collection and stay as 'slim' as possible so that we can manage things better. We sure will link to the API (and the respective repo) in the Readme! Thanks a lot for your contributions! @apfeuti @zdavatz

[2020-03-22 11:11] schw4b commented on #80
Wunderbar, danke!

[2020-03-22 11:34] lakay commented on #22
We are also making great progress with completing and cleaning up the forms.
A small PoC in Python to extract the form data is already there, more feature updates can be expected today.
pls have a look and watch at:
https://github.com/lakay/COVID-19_PDF-Reporting

Testing of the forms and later of the code is greatly appreciated. We are working currently with 3 people to make fast progress, contri

[2020-03-22 12:07] apfeuti commented on #78
OK, we will move discussion about the REST-API to my repo: https://github.com/apfeuti/covid_19/issues

Two last questions here:

1) On which data-source should the API rely on? Under discussion are:
https://github.com/openZH/covid_19/blob/master/COVID19_Cases_Cantons_CH_total.csv
https://github.com/openZH/covid_19/tree/master/fallzahlen_kanton_total_csv
https://www.functor.xyz/covid_19/scrapers/ou

[2020-03-22 12:34] metaodi commented on #78
@apfeuti can't speak for openZH, but if you want to deploy something with no cost, I'd recommend [Heroku](https://www.heroku.com/).

[2020-03-22 12:44] zdavatz commented on #78
@apfeuti decide yourself! Oleg in Mattermost said, that Kanton of Zürich does have some computing resources they can offer.

[2020-03-22 15:03] MeMent0L opened #89 "Scraper for VD"
Here is a python scraper for Canton VD.

Hopefully it will do the job ongoing, but it's not perfect as I've had to extract the data provided in text format as I didn't find out how to download the data from datawrapper (javascript).
Also, the data provided there doesn't include data prior to 10/03/2020.

Anyways, hope this helps.

[code]

[2020-03-22 16:29] zdavatz commented on #89
Thank you, did you have a look at the other scraper by @baryluk ? If possible we should stick to that format.

[2020-03-22 16:55] tlorusso commented on #89
Thanks @MeMent0L , looks useful! We're evaluating how to organize and monitor the different scrapers, so we'll let you know shortly :)

[2020-03-22 16:55] #10 closed

[2020-03-22 17:07] MeMent0L commented on #89
@zdavatz the table format is the one i found on the open_ZH page, but I believe you use a slightly different format in your repo?
I didn't check what @baryluk had done, scraping in bash is 5 levels above my head, however :)
Pandas dataframes are useful to get and wrangle the data. If the code i shared here is redundant, just scrap it, or use the pieces that are helpful @tlorusso.

[2020-03-22 17:17] zdavatz commented on #89
ok.

[2020-03-22 18:38] WeileiZeng opened #94 "Open Source Helps!"
Thanks for your work to help the people in need! Your site has been added! I currently maintain the Open-Source-COVID-19 page, which collects all open source projects related to COVID-19, including maps, data, news, api, analysis, medical and supply information, etc. Please share to anyone who might need the information in the list, or will possibly contribute to some of those projects. You are al

[2020-03-22 22:39] filippo82 opened #96 "Terminology clarification"
Dear all,

thanks a lot for keeping this repo up-to-date! There seems to be some confusion regarding the terminology: the infection rates refer to the infection with SARS-Cov-2, whereas the disease caused by the virus is called Covid-19.

Best wishes,
-Filippo

[2020-03-22 23:15] metaodi commented on #96
@filippo82 Could you please create a pull request with your suggestions where exactly the terminology should be changed? Thank you in advance!

[2020-03-23 08:10] cybermax opened #97 "Comparison data sources: openzh vs daenuprobst"
By automatically generating summary tables of the data provided by openzh and daenuprobst, we have found incosistencies between the two datasets.

openzh:
https://github.com/zdavatz/covid19_ch/blob/master/python-scripts/output_openzh/dd-covid19-ch-openzh-cantons-latest.csv

daenuprobst:
https://github.com/daenuprobst/covid19-cases-switzerland/blob/master/covid19_cases_switzerland.csv

Is there a w

[2020-03-23 08:28] MeMent0L commented on #89
By the way, the website https://www.corona-data.ch/ from @daenuprobst is real good!
I couldn't find in their Covid-19 tracking repo if the input data is scrapted or manually updated; maybe the above can help as well.

[2020-03-23 08:33] cybermax opened #98 "Time"
I think it would make sense to express date and time according to the ISO 8601:
https://en.wikipedia.org/wiki/ISO_8601

i.e. one single column (datetime) and not two separate columns (date + time).

[2020-03-23 08:51] zdavatz commented on #97
Also: Who is right?

[2020-03-23 08:52] zdavatz commented on #89
@MeMent0L yes, but he collects the data manually AFAICT.

[2020-03-23 09:12] metaodi commented on #98
@cybermax we discussed this. Our reason to keep it separate is to be able to omit it. Most cantons do not provide the time. If we have everything in one column, we would have to use a default like "00:00" which suggest an accuracy we do not have.

[2020-03-23 09:15] tlorusso commented on #98
@cybermax for the reason @metaodi just mentioned, we have to stick to this. If at some point we will be able to get a timestamp for all, then we can reconsider changing it. Closing this issue for now.

[2020-03-23 09:15] #98 closed

[2020-03-23 09:41] #63 closed

[2020-03-23 09:41] #64 closed

[2020-03-23 09:41] #65 closed

[2020-03-23 09:41] #66 closed

[2020-03-23 09:41] #67 closed

[2020-03-23 09:41] #69 closed

[2020-03-23 09:41] #71 closed

[2020-03-23 09:41] #72 closed

[2020-03-23 09:41] #73 closed

[2020-03-23 09:41] #74 closed

[2020-03-23 09:41] #75 closed

[2020-03-23 09:41] #70 closed

[2020-03-23 10:06] rneher opened #99 "totals file vs cantonal files"
Thanks for aggregating these data. We are using the file
`https://github.com/openZH/covid_19/blob/master/COVID19_Cases_Cantons_CH_total.csv`
to feed data into neherlab.org/covid19/

However, it seems the file we are using is not in sync with the files in

https://github.com/openZH/covid_19/tree/master/fallzahlen_kanton_total_csv

please advise as to files we should be using and what is kept up-to-

[2020-03-23 13:19] jb3-2 commented on #99
I think @tlorusso is currently working on creating the CH dataset from the individual canton datasets automatically upon every change in one of the canton datasets.

Currently people probably update the canton dataset more often (my 5 cents).

[2020-03-23 13:21] jb3-2 commented on #97
@cybermax Can you maybe somehow highlight the differences so we / I can invest some time into researching what's wrong and what's right?

[2020-03-23 13:24] tlorusso commented on #99
@rneher we're working on it! We want to automatically generate Swiss-file whenever a csv for a single canton is updated. I'll let you know as soon as we've news in this regard.

[2020-03-23 14:05] ebeusch opened #102 "Update Readme"
Currently the readme doesn't reflect that most canton's are scraped by @baryluk 's army of scrapers.

[2020-03-23 14:31] tlorusso commented on #102
@metaodi is setting the scrapers up. So far just SG is productive, further will follow. We'll update the Readme shortly.

[2020-03-23 14:34] metaodi commented on #102
@ebeusch this is correct, the "army of scrapers" is not yet deployed. I'll update the README when it's done.
Let's keep this issue open as a reminder.

[2020-03-23 14:53] ebeusch opened #107 "Scraper for GL"
Glarus is finally publishing [numbers](https://www.gl.ch/verwaltung/finanzen-und-gesundheit/gesundheit/coronavirus.html/4817#Fallzahlen)
@baryluk or others: can you write a scraper?

[2020-03-23 14:56] baryluk commented on #107
Ok. On it now. Give me few minutes.

[2020-03-23 15:06] rneher commented on #99
Great! that would save us work!

[2020-03-23 15:07] baryluk commented on #107
GL is implemented, and part of https://github.com/openZH/covid_19/pull/108

[2020-03-23 15:07] baryluk commented on #89
Implemented in https://github.com/openZH/covid_19/pull/108

[2020-03-23 15:08] #107 closed

[2020-03-23 15:20] baryluk commented on #68
The direct link to the latest results can be found here:

https://www.functor.xyz/covid_19/scrapers/outputs/latest.txt

Yes, SZ is broken. Can't do much about it, as SZ publishes some number in separate PDFs every day, but not actually on every day.

The directory on the server https://www.functor.xyz/covid_19/scrapers/outputs/ contain all historical unique scrapes, and differences between each fi

[2020-03-23 15:30] metaodi commented on #89
Thank you @MeMent0L for your scraper. Since we already have a different one, I will close this issue for now.

[2020-03-23 15:30] #89 closed

[2020-03-23 15:37] ebeusch commented on #68
If we can't get SZ to publish on their website, I have no problem with taking responsibility to collect their data manually.

[2020-03-23 15:47] baryluk commented on #68
@ebeusch Do you know where to look for it?

https://www.sz.ch/behoerden/information-medien/medienmitteilungen/coronavirus.html/72-416-412-1379-6948  provide documents in PDF form, but not all of them provide numbers.

The latest I could find with numbers is this document from 15. March: https://www.sz.ch/public/upload/assets/45590/MM_Coronavirus_15_3_2020.pdf - saying there is 13 cases. (it is par

[2020-03-23 16:09] ebeusch commented on #68
@baryluk very good point. embarrassingly, I didn't check how their website is now (I was the one who found those old pdfs though)
I will write to their contact e-mail and ask if they can publish numbers or mail them (as far as I understand that's what AI is doing?)

Considering that BAG/FOPH has different numbers at times, trying to parse their PDFs would at the very least be interesting to compar

[2020-03-23 16:12] zdavatz commented on #68
outstanding work @baryluk !!!

[2020-03-23 16:16] zdavatz commented on #68
@baryluk can you make one script, that combines `meta_scrape.sh` so it also runs `latest_per_canton.sh` or `latest_total.sh`?

[2020-03-23 16:17] zdavatz commented on #68
@baryluk also can you publish the latest sqlite DB on your Server with all the data that you scraped?

[2020-03-23 16:20] baryluk commented on #68
Ok. Please e-mail them and ask.

[2020-03-23 16:26] zdavatz commented on #107
Great work!

[2020-03-23 16:27] retomerz opened #111 "Create snapshots via web.archive.org"
First, thanks for you work.

Scrapers should create a snapshot [1] from the source homepage.
This should be done, at least, once a day.
Even when the source is not changed.
Because this will also document that a source (canton/BAG) has *not* published new data.

[1] https://archive.readme.io/docs/creating-a-snapshot

[2020-03-23 16:44] ebeusch opened #112 "Scraper for OW, AR, SO, and ZG"
@baryluk once more more work for you:
https://www.ow.ch/de/verwaltung/dienstleistungen/?dienst_id=5962
Obwalden now publishes numbers under "Anzahl Infizierte"

[2020-03-23 16:47] ebeusch commented on #112
Also, AR
https://www.ar.ch/verwaltung/departement-gesundheit-und-soziales/amt-fuer-gesundheit/informationsseite-coronavirus/
at the very bottom of the site.

I'm basically going through the list from your server, and checking outstanding ones. (And assuming AI doesn't work well for parsing)

[2020-03-23 16:48] zdavatz commented on #112
Great work @ebeusch thank you!

[2020-03-23 16:59] ebeusch commented on #112
Now, SO is also online
https://corona.so.ch/

[2020-03-23 17:00] baryluk commented on #112
Perfect. On it.

[2020-03-23 17:01] ebeusch commented on #112
And last: ZG
https://www.zg.ch/behoerden/gesundheitsdirektion/amt-fuer-gesundheit/corona

FR is the only one missing afaict. Will try to contact them like SZ.

[2020-03-23 17:14] #61 closed

[2020-03-23 17:35] baryluk commented on #112
All implemented, will add a pull request in few minutes.

[2020-03-23 17:53] baryluk commented on #111
That is a good idea. I think it is important to preserve the original source page verbatim for reference, and as you said to document also lack of updates.

[2020-03-23 18:07] baryluk commented on #68
@zdavatz Yes, I can make sqlite and CSV export of all data (including already scraped historical data). Give me 40 minutes.

[2020-03-23 18:19] zdavatz commented on #68
Ok, great! Let me know when I can pull and test.

[2020-03-23 18:25] zdavatz commented on #112
@baryluk supercool! Monitoring all cantons and their publicdomain data with your scrapers is the right thing to do. If something changes, we can document it with Issues and Commits.

[2020-03-23 18:30] baryluk commented on #68
https://www.functor.xyz/covid_19/scrapers/outputs/scrapes.sqlite
https://www.functor.xyz/covid_19/scrapers/outputs/scrapes.csv   (same data, just in CSV format, with header, and sorted by date, abbr, time).

It contains a merge of all data , including all already scraped.

I can still adjust it, if you want. Like split into separate files per canton,  or different format.

[2020-03-23 18:33] baryluk commented on #68
@zdavatz

Oh, something is not quite right with this data. There are some repeating rows. Hmm, I am not sure why.

[2020-03-23 18:38] zdavatz commented on #68
Ok, please double check.

[2020-03-23 18:40] baryluk commented on #68
@zdavatz  Fixed by using `SELECT DISTINCT`. The csv should now have unique rows.

[2020-03-23 18:45] zdavatz commented on #68
Looks great! Please keep style, location and name of the CSV and sqlitedb as it is. You could add a version to the file, so if you update the format of the csv/sqlite db you just do it under a new filename (version).

[2020-03-23 18:45] baryluk opened #115 "Fix UR scraper"
It just broken, because website changed format a bit.

It is now in form of a table. Should be easy to fix.

On it.

[2020-03-23 18:46] zdavatz commented on #111
Ok, just do not change any links for filenames here https://www.functor.xyz/covid_19/scrapers/outputs/?M=r without prior warning and time.

[2020-03-23 18:47] zdavatz commented on #115
Thank you!

[2020-03-23 18:48] zdavatz commented on #115
@baryluk If we can somehow build a twitter-bot or something, that posts to twitter when a canton changes its website format (your parser fails), that would be great! Like this we all can be notified and we can also monitor the Cantonal Public Domain data ;), as we rely on the that information for our public safety.

[2020-03-23 18:49] baryluk commented on #68
@zdavatz Absolutely.

[2020-03-23 18:51] zdavatz commented on #97
This can be closed. We only use OpenZH data now.

[2020-03-23 18:52] baryluk commented on #111
@zdavatz No, all these filenames will valid forever. I do not plan deleting or renaming them.

But I want to also save original source of each website it is scraping from. I will add a separate subdirectory for this.

[2020-03-23 18:52] zdavatz commented on #68
@baryluk supercool! Like this we really are monitoring all cantonal government website, making sure that we get notified if and when something changes. See: https://github.com/openZH/covid_19/issues/115#issuecomment-602788983

[2020-03-23 18:54] zdavatz commented on #111
great, like this if a canton changes their website we know when and what changed. So we could/can always call them up and ask about the changes. 👍👏🇨🇭🤣👌

[2020-03-23 19:09] #112 closed

[2020-03-23 19:28] baryluk commented on #68
Twitter bot would be nice. Let me try the mail notification first. If that works, we can extend it to open an issue on github using API.

Also I want to merge my few other minor scripts into this repo, so it is easier for you to run it, in case my server or internet is down, or something happens to me.

[2020-03-23 19:32] zdavatz commented on #68
@baryluk lets hope not, but yes I agree. After each run, you could write a report file in html for example. We do something similar here, for other public domain data: http://pillbox.oddb.org/amiko_report_de.html (drug information). After every run and parsing lots of sources, we create a report file.

[2020-03-23 20:02] zukunft opened #118 "Scraper for NW does not update"
I see here https://www.functor.xyz/covid_19/scrapers/outputs/latest.txt that NW should have 39 for the 23.03.2020 cases, but here https://github.com/openZH/covid_19/blob/master/fallzahlen_kanton_total_csv/COVID19_Fallzahlen_Kanton_NW_total.csv I still see the 23.03.2020 missing. Maybe this is just a case of [FIX] fix all scrapers #103 ?

[2020-03-23 20:13] baryluk commented on #80
We now have a scraper for Solothurn / SO.

Nice.

[2020-03-23 20:19] zdavatz opened #120 "GE, SZ, VG failed"
@baryluk

I ran it again, now I get:
[code]
Can you add a verbose option, to show where it fails? Does that make sense?

[2020-03-23 20:32] baryluk commented on #120
VD does work. You can see it working here: https://www.functor.xyz/covid_19/scrapers/outputs/2020-03-23T21%3A05%2B01%3A00.txt for example  Some sites like to block sometimes IP addresses.

SZ doesn't work , and can't be fixed sorry.

GE just got broken, due to change in PDF format from GE. I am working on it.

Thx.

Verbose option to print more details makes sense. I already started working on it

[2020-03-23 20:34] zdavatz commented on #120
@baryluk ok, thank you Sir! 🚀🦠🚨- I will keep testing.

[2020-03-23 20:47] baryluk commented on #118
The output from scrappers is not automatically integrated into csv files yes. We are working on it. In the mean time, we need to be still updating csv files manually. Scrapers help a bit in that tho.

[2020-03-23 20:56] zukunft commented on #118
OK. Thanks for the Info and all the scrapers.

[2020-03-23 21:15] retomerz commented on #111
The thing with a snapshot on web.archive.org is:
It is a well-known, trusted immutable archive.
Even for government it would not be easy to manipulate or to shut down archive.org

(Of course it makes also sense that you also store the page on the scraper server)

[2020-03-23 21:44] #115 closed

[2020-03-23 21:50] metaodi commented on #118
I'm currently working on the integration of all the scrapers incl. automatically updating the CSVs on GitHub.

[2020-03-23 22:05] jb3-2 commented on #118
@metaodi You‘re a hero.

[2020-03-23 22:26] filippo82 commented on #96
Will do thanks! I need to engage my better half, she is the real doctor :)

[2020-03-23 22:36] zukunft commented on #120
... and SZ and FR have very old data. I have requested an update via email, but no reaction until now. Does someone have contacts that we can use?

[2020-03-23 23:07] filippo82 commented on #96
Done.

[2020-03-23 23:22] baryluk commented on #120
GE got fixed in d7a172fa707528ddc3448b50f2dcd6cd31a667de

[2020-03-23 23:27] baryluk commented on #98
Yes, I agree here with @metaodi, not all sources provide time information, and setting it to 00:00 is not a correct thing to do. For now we need to keep date and time separate, with time possibly being empty. So we can't use ISO-8601 fully, but date and time parts conform to ISO-8601.

Resolved.

[2020-03-23 23:28] baryluk commented on #102
@metaodi Amazing work. Hope to see it working soon :)

[2020-03-23 23:34] baryluk commented on #111
Good point. We should have both. I will try to trigger web.archive.org snapshot using this API from my scripts running on my server.

Thanks for pointing this out.

[2020-03-23 23:36] baryluk commented on #111
#122 should make it very easy to do. Should be ready very soon.

[2020-03-23 23:45] metaodi commented on #102
see #124 😉

[2020-03-23 23:54] baryluk commented on #111
@retomerz Good news. I managed to use the API with success automatically from our scripts. Soon all data we scrape for all cantons will be asked to be snapshoted every hour or so. We could be smart in the future, to only scrape if there are changes, but as you said, it is also good to have information about lack of changes.

[2020-03-24 06:43] metaodi commented on #118
Fixed in #124

[2020-03-24 06:43] #80 closed

[2020-03-24 07:20] #94 closed

[2020-03-24 07:20] netzwerg opened #125 "Add world data (e.g. italy, south-corea) in same format for comparison"
When visualizing data, it would be great to be able to compare CH-data with trajectories of other countries, most notably Italy and South-Corea.

Specifically, we'd like to develop "small multiples", [displaying each CH-canton](https://twitter.com/luescher_sandro/status/1242137542297825286?s=20).

Visualization could be along the lines of this FT viz, thus we need world data to provide the lines i

[2020-03-24 07:22] #22 closed

[2020-03-24 07:23] tlorusso commented on #78
Closing this for now - this repo aims at data collection only.

[2020-03-24 07:23] #78 closed

[2020-03-24 07:23] #97 closed

[2020-03-24 07:24] zdavatz commented on #125
@netzwerg where do you have the South Korea Data from?

[2020-03-24 07:28] netzwerg commented on #125
@zdavatz I don't know yet, that needs to be investigated. Some data seems to be available, e.g. on [Wikipedia](https://en.wikipedia.org/wiki/2020_coronavirus_pandemic_in_South_Korea#Line_chart_for_cases_in_South_Korea).

[2020-03-24 07:31] zdavatz commented on #125
try here: https://github.com/CSSEGISandData/COVID-19/

[2020-03-24 08:10] SandroLuescher opened #127 "Add population data"
Add raw population data (residents and absolute number of people over 65 per canton) to the panel files.

https://github.com/openZH/covid_19/tree/master/fallzahlen_kanton_total_csv

[2020-03-24 08:43] jb3-2 commented on #125
South Korean data can be found here:

https://github.com/CSSEGISandData/COVID-19/blob/master/who_covid_19_situation_reports/who_covid_19_sit_rep_time_series/who_covid_19_sit_rep_time_series.csv

[2020-03-24 09:12] tlorusso commented on #127
Thanks for bringing this up @SandroLuescher. Personally, i think its better to keep the cantonal files as slim as possible, as they're centered on data collection. As soon as we have set up a process to generate a csv containing the data for all cantons we can consider whether to add additional information. As a first step, feel free to add a separate csv with population numbers, that can easily b

[2020-03-24 09:14] zdavatz commented on #127
I would also collect population data per canton in a separate file.

[2020-03-24 09:16] ebeusch opened #129 "Scraper FR"
Received an email answer from FR that they will start putting the numbers on their [website](https://www.fr.ch/) as of today (time unclear) and keep updating them from today onwards.

Their email was:
_Bonjour Madame
Nous avons bien reçu votre demande.
A ce sujet, dès aujourd’hui les chiffres concernant le canton de Fribourg seront publiés sur le site de l’Etat de Fribourg (www.fr.ch) et seront ré

[2020-03-24 09:18] ebeusch commented on #120
@zukunft I'm on both SZ and FR.
FR told me they will put numbers online starting from today (see #129)
I wrote to KFS regarding numbers for SZ and they told me that my request has been forwarded to  "Amt für Gesundheit und Soziales", so let's see if they will answer.

[2020-03-24 09:37] zukunft commented on #120
Thanks for the support. I got the same answer from SZ. I think, GE is a good reference. Looks like they have an efficient setup.

[2020-03-24 09:57] zdavatz opened #130 "Bestätigte Fälle und Hospitalisierungen"
I think a lot of Cantons will go in this direction:
`Bestätigte Fälle` and `Hospitalisierungen`

https://www.gl.ch/verwaltung/finanzen-und-gesundheit/gesundheit/coronavirus.html/4817/l/de#Fallzahlen

we should also try to scrape `Hospitalisierungen` as much as possible. CC @baryluk

[2020-03-24 10:04] #96 closed

[2020-03-24 10:29] Eisit commented on #125
I opened (and closed, see comments as for why) a similar ticket for neighbouring countries: https://github.com/openZH/covid_19/issues/77

You can note the links listed there.

[2020-03-24 11:07] zdavatz opened #132 "Data from SZ and FR missing"
Die Kantone Schwyz (77 Infizierte, bisher kein Todesfall) und Freiburg (202 Fälle, 4 Verstorbene) liefern ihre Zahlen nur auf Anfrage. Da keine flächendeckenden Tests gemacht würden, seien die Fallzahlen «keine relevante Zahl», begründet Freiburg seinen passive Informationspolitik.

see: https://www.blick.ch/news/politik/aktuelle-coronavirus-zahlen-der-schweiz-so-informieren-kantone-ueber-die-coro

[2020-03-24 11:59] ebeusch commented on #132
Also, see #129
FR sent me this email:
_Bonjour Madame
Nous avons bien reçu votre demande.
A ce sujet, dès aujourd’hui les chiffres concernant le canton de Fribourg seront publiés sur le site de l’Etat de Fribourg  (www.fr.ch) et seront régulièrement mis à jour._
Still not seeing anything on their website though

[2020-03-24 12:02] zdavatz commented on #132
@ebeusch grande! Looking forward to that!

[2020-03-24 12:12] tlorusso commented on #132
Great! Thx @ebeusch :)

[2020-03-24 12:14] zukunft commented on #130
I would say yes. I think Geneva is a kind of reference at the moment.

[2020-03-24 12:18] zukunft opened #133 "Scraper for VD failed?"
I see data for the 23.03.2020 here https://www.vd.ch/toutes-les-actualites/hotline-et-informations-sur-le-coronavirus/.
... and here https://www.functor.xyz/covid_19/scrapers/outputs/latest.txt I see failed.

[2020-03-24 12:21] zukunft commented on #133
Strange, if I run the version local I get:

Scraped at: 2020-03-24T13:20:38+01:00
Date and time: 23.03.2020
Confirmed cases: 2162
Deaths: 17

[2020-03-24 12:59] zukunft commented on #132
I just called SZ and they are "working on it". As soon, they have something, they will send me (and probably many others) an email.

[2020-03-24 13:16] ebeusch commented on #132
Great! Thanks for going after them @zukunft

[2020-03-24 13:37] netzwerg commented on #125
Closing this in favor of: https://renkulab.io/projects/covid-19/covid-19-public-data

[2020-03-24 13:37] #125 closed

[2020-03-24 13:38] tlorusso commented on #133
@zukunft VD is not automized yet : https://github.com/openZH/covid_19/blob/master/scrapers/STATUS.md

[2020-03-24 13:44] zdavatz commented on #132
@zukunft please convince them to publish on their website.

[2020-03-24 13:53] zukunft commented on #132
Yes, will do, but one step after the other. Looks like they are collecting the information at the moment.

And it looks to me that the BAG will also improve the collection process: https://www.hin.ch/covid-19-faelle-ans-bag-melden/ . Once this is done and working, we all will get much better data. And based on that, maybe we should create a tracing app based e.g. on owntracks.org ?

Reason: I want

[2020-03-24 14:02] zdavatz commented on #132
@zukunft yes, I know about the HIN Link, I told them to put it up. ;) The problem is, that the BAG still publishes non editable PDF files, so we put up a HOW-TO to help the BAG: have a look here: https://github.com/tgdbepe4/corona_ch_bag_formulare/blob/master/tests/Machbarkeit%20BAG%20Meldeformulare%20mit%20digialen%20Formularfeldern.pdf

Also, while you are talking to the Cantons, can you please

[2020-03-24 14:10] metaodi commented on #118
NW is now automatically updated.

[2020-03-24 14:10] #118 closed

[2020-03-24 14:13] metaodi commented on #102
The README is now up-to-date in terms of which cantons are scraped and which are updated manually. To check the status of each scraper, take a look at the [STATUS](https://github.com/openZH/covid_19/blob/master/scrapers/STATUS.md) page, where a green badge is displayed if the scraper was successful (or red respectively if not successful)

[2020-03-24 14:13] #102 closed

[2020-03-24 14:37] metaodi opened #141 "UR scraper fails"
Currently the UR scraper fails:

[code]
cc @baryluk

[2020-03-24 14:40] metaodi commented on #141
The [website](https://www.ur.ch/themen/2920) changed:

[2020-03-24 14:45] dgerber commented on #133
I think there is now and then an issue with multiple redirects. Working on it...

[2020-03-24 15:08] ebeusch commented on #141
One more item for the to-do list: kindly ask all cantons to please stick to one format.

[2020-03-24 15:39] metaodi opened #145 "NW scraper fails"
NW changed the wording on their site.

New:

[2020-03-24 15:40] zdavatz commented on #102
great page, thank you!

[2020-03-24 15:40] andreasamsler opened #146 "New source for JU scraper"
https://www.jura.ch/fr/Autorites/Coronavirus/Chiffres/Evolution-des-cas-COVID-19-dans-le-Jura.html

[2020-03-24 15:41] zdavatz commented on #146
Thank you! cc @baryluk can we grab this?

[2020-03-24 15:41] zdavatz commented on #145
cc @baryluk

[2020-03-24 15:42] metaodi opened #147 "AR scraper fails"
See https://github.com/openZH/covid_19/runs/530864445?check_suite_focus=true

[2020-03-24 15:43] zdavatz commented on #141
We should actually show them what the format is, also in terms of the URL path.

[2020-03-24 16:07] deragent opened #149 "Need to Update BL scrapper - Data now as graph on new webpage"
The data of BL is now published as a graph on the following webpage: https://www.baselland.ch/politik-und-behorden/direktionen/volkswirtschafts-und-gesundheitsdirektion/amt-fur-gesundheit/medizinische-dienste/kantonsarztlicher-dienst/aktuelles/covid-19-faelle-kanton-basel-landschaft

[2020-03-24 16:08] zdavatz commented on #149
good to know.

[2020-03-24 16:10] deragent commented on #149
I implemented a new scrapper for the new BL data source in https://github.com/openZH/covid_19/pull/148

[2020-03-24 16:27] ebeusch commented on #141
@zdavatz that would be ideal but we should also keep in mind that smaller cantons might not have the resources to do so.

[2020-03-24 16:30] zdavatz commented on #141
yes, then a simple HTML file could suffice.

[2020-03-24 16:34] zdavatz commented on #120
Little update about different sources: https://www.watson.ch/schweiz/gesundheit/220460287-warum-die-zahlen-zum-coronavirus-in-der-schweiz-so-unterschiedlich-sind

[2020-03-24 17:09] ebeusch commented on #132
I've kept checking FR's [website](www.fr.ch) (incl. links to subsections) all day and either I'm blind or the promised update still hasn't happened. If anyone could take a second check, that'd be appreciated.
If there's indeed no data for FR, I'll wait until tomorrow afternoon and then pester them again.

[2020-03-24 18:04] zukunft commented on #132
I also don't find anything. Same in SZ. Maybe they are simply too afraid to ask for help.

[2020-03-24 18:35] baryluk commented on #146
Yes. That is nice. The current scrapper works now, but this table is probably going to be a bit more stable, and has information about other things. So we can grab it, but low priority as of today. Some other scrapers to be fixed first.

[2020-03-24 18:35] baryluk commented on #141
On it.

[2020-03-24 18:36] baryluk commented on #145
On it.

[2020-03-24 18:39] baryluk commented on #129
No updates yet as of now (2020-03-024 19:39). Still no numbers there or in few other pages.

[2020-03-24 18:39] zdavatz commented on #146
We are now going to automate your scrapers for our [Dashboard](http://covid19.ddrobotec.com/), see: https://github.com/zdavatz/covid19_ch

[2020-03-24 18:45] baryluk commented on #130
Agreed.
Yes, we are starting to be doing it slowly.
We need to surface it in the parser too.

[2020-03-24 18:46] zdavatz opened #151 "Failing scrapers as per 24.3.2020, 19.45"
I just ran `./meta_scrape.sh > current.txt`

Getting this output: [current.txt](https://github.com/openZH/covid_19/files/4377094/current.txt)

cc @baryluk

[2020-03-24 18:53] baryluk commented on #151
Can you please just paste it into the issue/ I can't download the file.

Also we know they are failing. Open separate bug reports for each canton and close this issue. It is just an unecassary noise.

[2020-03-24 18:54] zdavatz commented on #151
File is here as well: http://pillbox.oddb.org/current.txt

[2020-03-24 18:54] zdavatz commented on #151
[code]

[2020-03-24 19:00] zdavatz commented on #151
@baryluk can you please also ad a timestamp for `failed`? That would be great.

[2020-03-24 19:15] baryluk opened #152 "Port scrapers from bash to Python"
Bash is nice and it was quick to add many scraper, but we do see many failures, and it leads to some issues.

1. Not many people are familiar with bash, grep, sed, awk, to help with fix contribution.
2. Currently we use `set -e` (without `set -x`), which means if the scraper fails, it leaves no useful error messages.
3. Due to nature of `sed`, it often needs to be protected by extraneous and someh

[2020-03-24 19:19] rneher opened #153 "field naming -- cumulative vs non-cumulative"
Thanks  a lot for scraping these togehter!

In the README, you explain columns as

| Field Name          | Description                                | Format     |
|---------------------|--------------------------------------------|------------|
| date               | Date of notification                       | YYYY-MM-DD |
| time                | Time of notification                       | HH:

[2020-03-24 19:19] zdavatz commented on #152
Ok! Sounds like a plan although `awk` is great, as Linus says ;).

[2020-03-24 19:26] metaodi commented on #151
Closing this issue, most have already been reported in other issues, feel free to open new ones for a specific canton that has not been reported already.

[2020-03-24 19:26] #151 closed

[2020-03-24 19:33] metaodi commented on #152
The scraper for SG that is run by GitHub actions is already written in Python: https://github.com/openZH/covid_19/blob/master/scrapers/scraper_canton_sg.py

And i still have some floating around from morph.io, so I can simply move them here.

[2020-03-24 19:35] baryluk commented on #147
On it.

Small change in date format on the site. I have a fix ready.

[2020-03-24 19:36] #145 closed

[2020-03-24 19:37] baryluk commented on #152
The script you have is not just a scraper (it does few other things), and is 5 times longer than needs to be. The same can be achieved in just few lines of code.

I will port most of he bash scrapers to Python today, it is a very easy process. Nothing fancy.

[2020-03-24 19:39] baryluk commented on #141
Fixed

[2020-03-24 19:40] #141 closed

[2020-03-24 19:53] metaodi commented on #152
@baryluk I agree it's longer than needed (the scraper part being from L35-L52). But IMHO the sqlite part really makes sense to manage input and output:

- it defines a clear schema
- I can add constraints (like a UNIQUE) and therefore make sure to only generate one entry per date + time
- make sure the data in the CSV file is always used as an input (and if it's invalid it breaks)

Feel free to re

[2020-03-24 19:54] #147 closed

[2020-03-24 20:09] baryluk commented on #152
@metaodi Yes, it is just a job of other scripts to do that.

The scraper output can easily be consumed by others (after paring by parser).

Here is the prototype for ZH: https://github.com/baryluk/covid_19/commit/72de5616652280d6ba9b306d3ff68a776572a725

[2020-03-24 20:09] deragent commented on #149
Solved with #148

[2020-03-24 20:09] #149 closed

[2020-03-24 20:16] metaodi commented on #152
Oh okay. This is really just a 1:1 port to python without using any library or idioms.

But it's an okayish first step, let's iterate if needed :wink:

[2020-03-24 20:17] baryluk opened #157 "OW scraper failed"
[code]

Change of wording, on website. now is:

[code]

Easy fix. On it.

[2020-03-24 20:19] baryluk commented on #157
Actually, this is a bit weird, I think it should been working existing scraper:

[code]

I might be blind, or maybe there is some extra space / non-breaking space.

Checking.

[2020-03-24 20:21] baryluk commented on #157
Oh. This looks to be because it is using `windows-1252` encoding in HTML, but we expect UTF-8, so grep then is confused by `M�rz`.

[2020-03-24 20:24] baryluk commented on #157
Fix available. (just use `iconv`). PR coming soon.

[2020-03-24 20:26] baryluk commented on #120
@zdavatz Please don't put different cantons issues into same issue on github. it really makes things way more harder to track. Same with https://github.com/openZH/covid_19/issues/132

[2020-03-24 21:12] baryluk commented on #152
I would say it is very idiomatic. KISS principle. :wink:

[2020-03-24 21:20] baryluk opened #159 "Implement scraper for AI"
Info is now available on https://www.ai.ch/themen/gesundheit-alter-und-soziales/gesundheitsfoerderung-und-praevention/uebertragbare-krankheiten/coronavirus

A small box in the top-right corner.

I am writing the scraper now.

[2020-03-24 21:27] baryluk commented on #159
Easy. Implemented in a new Python scraper framework in few minutes. PR coming after https://github.com/openZH/covid_19/pull/158 is merged.

[2020-03-24 21:33] baryluk commented on #152
PR for the library and ZH scraper sent: https://github.com/openZH/covid_19/pull/158

I also have AI scraper done using same library. It is really short and readable.

[2020-03-24 22:07] baryluk commented on #40
I just tested the Jupyter notebook, and it works really nice, and is easy to use. Good job.

[2020-03-25 06:48] tlorusso commented on #153
@rneher to rename the columns at this point would break a lot of stuff. However, we could be more specific in the description field and distinguish between 'current' and 'cumulative' for all. Would this help? However, a problem that might pop up at some point is different reporting policies among cantons.

[2020-03-25 07:04] zdavatz commented on #120
Ok!

[2020-03-25 07:14] zdavatz commented on #40
@rokroskar Where do you get the population data from?

[2020-03-25 07:50] metaodi opened #161 "SO scraper fails"
The [SO scraper currently fails](https://github.com/openZH/covid_19/actions/runs/62811863):

[code]

[2020-03-25 08:54] andreasamsler opened #162 "Add historized data from official source JU"
https://www.jura.ch/fr/Autorites/Coronavirus/Chiffres/Evolution-des-cas-COVID-19-dans-le-Jura.html --> voir details

[2020-03-25 09:21] zdavatz commented on #152
This output should only contain the successful data, not the errors or the error output: https://www.functor.xyz/covid_19/scrapers/outputs/latest.txt

If the script fails, then just ad a timestamp when it failed.

See also: https://github.com/zdavatz/covid19_ch/issues/17

Our [Dashboard](http://covid19.ddrobotec.com/) is now updating every hour and it make no sense to write a parser for the parser

[2020-03-25 09:32] tlorusso commented on #127
Closing this for now.

[2020-03-25 09:32] #127 closed

[2020-03-25 09:34] zukunft commented on #132
SZ has updated the numbers and they are already included. Now just FR is missing.

[2020-03-25 09:35] rokroskar commented on #40
@zdavatz good question, it took me a while to find the right table. It's from the [Bundesamt für Statistik](https://www.bfs.admin.ch) and I got it from a data request form that now I cannot for the life of me locate again. This is the link it was obtained from: https://www.bfs.admin.ch/bfsstatic/dam/assets/9635943/master

However, I just now found a better document: https://www.bfs.admin.ch/bfs/de

[2020-03-25 09:37] rokroskar commented on #40
Ah I just realized those don't have the same data - the first one is reported on 31.12.2018 the second one on 1.1.2018. 🤷‍♂

[2020-03-25 09:50] metaodi commented on #153
I think we should change the description of all fields beginning with `ncumul_` to have "(cumulative)" in the description, just like we have for `ncumul_tested`.

WDYT @tlorusso ?

[2020-03-25 09:53] ebeusch opened #164 "Scraper for SZ"
@baryluk SZ now has numbers as pointed out by @zukunft in #132
They are listed under "Allgemeine Informationen" on the [official website](https://www.sz.ch/behoerden/information-medien/medienmitteilungen/coronavirus.html/72-416-412-1379-6948)

By now I have also received an email from SZ informing of the above. I have asked them if they plan to also publish numbers of hospitalised. They said so fa

[2020-03-25 09:53] tlorusso commented on #111
@retomerz @baryluk Thank you guys for bringing this up and trying to find a solution. To perserve snapshots of the scraped pages would reeally help us to ensure every number can be traced back transparently to where it was published. This would be an important signal when it comes to raise the trust in the quality of the collected data.

[2020-03-25 09:59] #161 closed

[2020-03-25 10:09] tlorusso commented on #153
I would propose adding _(cumulative)_ to the description field of the confirmed cases, deaths, and released are cumulative, while adding _(current)_ to field of the hospitalized / ICU and ventilated columns.  For those fields it might have been better to not include the prefix `ncumul_` in the column names, as they reflect the current numbers without those that have already left the hospitals. @rn

[2020-03-25 10:40] ebeusch commented on #152
If it's worth anything: https://github.com/ebeusch/covid-19_scraper_LU
here's my python attempt for LU from the past weekend. maybe you can use one line or two ^^'

[2020-03-25 11:01] zukunft commented on #162
See merge request #167

[2020-03-25 11:28] rneher commented on #153
I support not changing the columns. but making it clear in the table would help (plus a note that headers are named sub-optimally but are kept for consistency).

[2020-03-25 12:05] tlorusso commented on #153
@rneher ok like this?

| Field Name          | Description                                | Format     |
|---------------------|--------------------------------------------|------------|
| date               | Date of notification                       | YYYY-MM-DD |
| time                | Time of notification                       | HH:MM      |
| abbreviation_canton_and_fl | Abbreviation of the

[2020-03-25 12:50] zdavatz opened #169 "Show URL in Scraper output"
@baryluk can you please also show the URL per canton your are scraping in the output of https://www.functor.xyz/covid_19/scrapers/outputs/latest.txt or if you switch to python, show it in the output of the python-scraper. That would be really useful.

@all please be aware that the URLs of the websites from the cantons in your daily stats [files](https://github.com/openZH/covid_19/tree/master/fallz

[2020-03-25 13:05] metaodi opened #170 "AR scraper fails"
The [AR scraper currently fails](https://github.com/openZH/covid_19/runs/533332856?check_suite_focus=true).

It seems they changed the structure.

[2020-03-25 14:53] #170 closed

[2020-03-25 15:03] ebeusch commented on #120
@zdavatz can you close this issue? SZ has it's own now (incl. data link) and so does FR (not very succesful so far) so I think this is all taken care of.

[2020-03-25 15:05] ebeusch commented on #132
@zdavatz let's also close this.

[2020-03-25 15:12] ebeusch commented on #129
Sent them an email once more (2020-03-25 16:12)

[2020-03-25 16:00] #159 closed

[2020-03-25 16:05] baryluk commented on #164
Ok. I don't see any pull request fixing / implementing new source for SZ, so lets me take this.

[2020-03-25 16:12] baryluk commented on #164
Ok. PR incoming.

[2020-03-25 16:13] baryluk commented on #169
Can be done.

[2020-03-25 16:18] baryluk commented on #169
It can be done very easily in a Python one. A little tricky, but doable in the bash.

I will add it in few moments.

[2020-03-25 16:49] grssnbchr commented on #129
I wonder where @daenuprobst has his FR figures from? Cf. https://github.com/daenuprobst/covid19-cases-switzerland/blob/master/covid19_cases_switzerland.csv

[2020-03-25 17:07] zdavatz commented on #129
Good question ;) - think some special contacts. But lets see. Or just post an issue.

[2020-03-25 17:10] zdavatz commented on #169
Thank you!

[2020-03-25 17:13] zdavatz commented on #132
Ok sure, closing now.

[2020-03-25 17:13] #132 closed

[2020-03-25 17:14] zdavatz commented on #120
Ok, closing now, thank you!

[2020-03-25 17:14] #120 closed

[2020-03-25 17:14] ebeusch commented on #129
Direct line to the canton, is my guess

[2020-03-25 17:17] andreasamsler opened #179 "Add historized data for VS"
https://www.vs.ch/documents/6756452/7008787/Sit%20Epid%20-%20%C3%89tat%20Stand%2025.03.2020.pdf

[2020-03-25 17:19] zdavatz commented on #129
Yes mine as well. Not good and not helpful at all. @andreasamsler should get started together with @mmznrSTAT and call up their colleagues in FR and get the ball rolling for more transparency. Stupid political games going on here.

[2020-03-25 17:31] zdavatz commented on #129
If FR will not react till tomorrow I will call them here by phone:
![latest-screenshot](https://user-images.githubusercontent.com/4953/77567056-e3a45880-6ec6-11ea-9250-4871ea998e55.png)

[2020-03-25 17:32] zukunft commented on #179
Can do, but can you have a look at #167?

[2020-03-25 18:22] deragent opened #182 "Fix scraper fro SG (and add deaths)"
Format changed slightly.
They also now publish the number of deaths.

[2020-03-25 18:23] deragent commented on #182
I am working on this.

[2020-03-25 18:38] gaberoo commented on #99
resolved by #178 / #181

The new (hopefully) automated merged file is available here:

https://github.com/openZH/covid_19/blob/master/COVID19_Fallzahlen_CH_total.csv

[2020-03-25 18:38] #99 closed

[2020-03-25 18:43] deragent commented on #164
If necessary, I also have a working version for SZ.

[2020-03-25 19:02] zdavatz opened #185 "Das BAG publiziert nun seinen eigenen offiziellen Zahlen als XLSX"
Das BAG publiziert nun seinen eigenen offiziellen Zahlen, als XLSX.

https://www.bag.admin.ch/dam/bag/de/dokumente/mt/k-und-i/aktuelle-ausbrueche-pandemien/2019-nCoV/covid-19-datengrundlage-lagebericht.xlsx.download.xlsx/200325_Datengrundlage_Grafiken_COVID-19-Bericht.xlsx

Nun kann man vergleichen. cc @andreasamsler @mmznrSTAT

ich würde diese Daten unbedingt reinziehen, jeden Tag, ein Backup mac

[2020-03-25 20:36] zukunft commented on #179
@ andreasamsler  Now included in #180

[2020-03-25 20:57] tlorusso commented on #179
I will look into #180 tomorrow. Thx a lot @zukunft. Feel free to go for #179 already :)

[2020-03-25 20:59] andreasamsler commented on #185
Hallo Zeno, was möchtest du mit welchem Ziel miteinander vergleichen?

[2020-03-25 21:01] zukunft opened #187 "Avoid double counting"
To avoid double counting I suggest a definition of the reporting canton. For practical reasons I guess the cases are reported in the canton where they are in hospital or at home, which is usually identical with the "Wohnsitzkanton".
But assume the case the a person lives in Zurich, but has been in Ticino for vacation and gets there into the hospital. This person would most likely be reported in Ti

[2020-03-25 21:11] zukunft commented on #185
Das Problem ist wohl, dass das BAG die Zählung am Tag der Probenentnahme macht, während die Kantonen sich wohl eher auf den Tag des positiven Ergebnisses beziehen. Oder liege ich hier falsch?
Bisher geben die Kantone die Daten auf Personenstufe kaum bekannt, von einzelnen Ausnahmen zu Beginn der Pandemie mal abgesehen. Im Moment wäre ich schon froh, wenn zum Beispiel Freiburg überhaupt Zahlen lief

[2020-03-25 21:55] TheCharlatan opened #188 "Daten zu Alter und Geschlecht"
DIe `fallzahlen_kanton_alter_geschlecht_csv` scheinen nicht weitergeführt worden zu sein, ich nehme mal an, weil man unmöglich einzelne Fälle so detailiert aufnehmen kann. Ein Histogram in Altersklammern wäre jedoch interessant. Kann man diese Daten noch einholen?

[2020-03-25 22:55] metaodi commented on #152
I close this issue. The ZH scraper was successfully migrated from shell to python. And AI has been implemented in the same manner.

Finally with SG we have yet another python scraper with a different approach. Feel free to migrate or implement other scrapers as well.

[2020-03-26 01:40] baryluk commented on #152
@metaodi Could you please leave it open for a moment. I have almost all existing scrapers ported, just didn't make a PR for it, because of some other PRs in progress, and issues with merges.

[2020-03-26 02:26] baryluk commented on #111
Sorry, I forgot about it, and was lost in my other commits. PR open now to implement it for all scrapers.

[2020-03-26 03:51] baryluk commented on #152
@ebeusch I will take a look. It might be useful to have parser for some number as words. For example https://www.ur.ch/themen/2920 for UR, states number of deaths as a word.

[2020-03-26 04:07] baryluk commented on #152
Porting status:

[code]

[2020-03-26 04:51] #157 closed

[2020-03-26 05:03] #164 closed

[2020-03-26 05:19] baryluk opened #193 "Extract hospitalized and deaths for BS scraper"
There are some extra information in daily bulletins now:

https://www.gd.bs.ch/nm/2020-tagesbulletin-coronavirus-466-bestaetigte-faelle-im-kanton-basel-stadt-gd.html

[code]

I don't think adding it now, would be reliable (free form text, including numbers as words), but some can be done, if possible.

This is a tracking bug.

[2020-03-26 05:30] #111 closed

[2020-03-26 05:35] #169 closed

[2020-03-26 06:04] baryluk opened #195 "Add spelled number parser / regexp to scrape_common"
So we can capture things like

```Eine Person ist hospitalisiert. Eine Person ist genesen.```

This is the case for few source: AG, LU, UR.
All in German, so probably a simple naive approach is good enough.

[2020-03-26 06:14] baryluk commented on #169
@zdavatz Could you verify if what is being output from scrapers, meta_scrape and parser is ok for you?

[2020-03-26 06:15] baryluk commented on #164
@deragent Thanks deragent. Feel free to compare with the current version at https://github.com/openZH/covid_19/blob/master/scrapers/scrape_sz.sh

[2020-03-26 06:21] baryluk commented on #182
Good catch. Thanks.

[2020-03-26 06:40] baryluk opened #196 "Contact FL (Principality of Liechtenstein) to provide more structured info daily"
Right now, information is scattered in random PDFs and videos on: https://www.regierung.li/coronavirus

Optimally the information about number of confirmed cases would be directly on apage.

Possible contacts:

Coronavirus:
[code]

[code]

Good exemplary formats:
  * https://www.zg.ch/behoerden/gesundheitsdirektion/amt-fuer-gesundheit/corona  (right side box)
  * https://www.sz.ch/behoerden/inform

[2020-03-26 06:43] metaodi opened #197 "Validate cummulative fields in CSVs"
Some fields like `ncumul_tested` are supposed to be cummulative. Add a simple validation to check if this number is either the same or greater than the previous number or empty.

[2020-03-26 06:53] baryluk commented on #146
Still low priority, as existing scraper works, and the table provides historical information to.

But I will make a new scraper for JU today. As the data linked by @andreasamsler also provides information about hospitalizations, ICU, and deaths (none fortunately yet, but table is easy to parse if it changes), which will be useful for our datasets.

[2020-03-26 07:10] baryluk commented on #185
I just started automatic archiving of this XLSX document, hourly.

Can't open at the moment, because my libreoffice is crashing (not a fault of the document).

[2020-03-26 07:27] rsalzer opened #198 "ncumul_vent for Canton GE seems wrong"
You use this data for ncumul vent:
<img width="126" alt="image" src="https://user-images.githubusercontent.com/17248257/77620719-46373c00-6f3b-11ea-9171-c9a248f381c4.png">

While it should be this one:
<img width="122" alt="image" src="https://user-images.githubusercontent.com/17248257/77620762-5ea75680-6f3b-11ea-8d6e-88f3c5e56b00.png">

ncumul_vent is always a subset of ncumul_icu. You can find t

[2020-03-26 07:27] rsalzer commented on #198
Source: https://www.ge.ch/document/covid-19-situation-epidemiologique-geneve/telecharger

[2020-03-26 07:32] rsalzer commented on #198
I corrected it ... and will make a PR

[2020-03-26 07:37] rsalzer commented on #198
[https://github.com/openZH/covid_19/pull/199](url)

[2020-03-26 07:59] zdavatz commented on #152
great work, @baryluk

[2020-03-26 08:02] oschihin commented on #185
@baryluk natürlich kann man die Excelblätter des BAG auf einem Server abspeichern, das ist unproblematisch. Mir ist aber der Sinn davon nicht klar, da 1) die Daten / Excel auf de Webseite des BAG verfügbar sind und wohl vorläufig auch bleiben werden 2) diese Daten gemäss Archivgesetz einmal vom Bundesarchiv archiviert werden. Mit "archivieren" meine ich nicht eine Sicherungskopie so nützlich das s

[2020-03-26 08:03] zdavatz commented on #185
You are archiving the PDF, better archive the XLSX. ;)

[2020-03-26 08:06] zdavatz commented on #185
Ja, das sehe ich auch so. Ich weiss jetzt von zuverlässiger Quelle, dass das BAG die Fax-Formulare am überarbeiten ist. HIN wird/will das editierbare PDF Formular auch bei den Praxis-Software-Anbieter einbinden (die haben grosses Interesse), somit sollten wir vom BAG bald viel bessere Zahlen kriegen. Das wird dann auch wieder Druck auf die Kantone machen, zum bessere Zahlen publizieren. Ein guter,

[2020-03-26 08:07] zdavatz commented on #185
Gute Frage. Ich würde sie aber auf jeden Fall sofort täglich abspeichern. @baryluk please save the XLSX file (PDF ist not so important AFAICT). Only save the file if the file size changed.

[2020-03-26 08:24] baryluk commented on #185
I am archiving both.

[2020-03-26 08:32] baryluk opened #201 "Scraper for NW broken (2020-03-26)"
New page format:

[code]

was

[code]

Going to send a PR soon.

[2020-03-26 08:38] gaberoo commented on #197
Something like this?

https://github.com/gaberoo/covid_19/blob/validate_cumul/scripts/validate_csv.rb

The script checks all fields that start with `ncumul` for inconsistencies, i.e. the subsequent number is smaller than the previous one.

[code]

[2020-03-26 08:51] baryluk commented on #152
Ack. Good. Thanks for testing.

VD works for me.

What kind of shell are you using? (`ls -l /bin/sh`)

I already sent fix for NW (both bash and python version, and it is in the pythonize branch). Their page was updated ~2 hours ago.

I also just updated the GE to also show URL. It was not showing because of slightly different logic in PDF downloader. Now it should be same as others.

I will addres

[2020-03-26 08:53] zdavatz commented on #169
@baryluk yes, this looks good. Only thing that is missing is the timestamp if a scraper fails. Please always print the timestamp Failed or not Failed should not matter. Please do not output error messages.

[code]

[2020-03-26 08:54] metaodi commented on #197
Yes that looks good.

But unfortunately not all fields starting with `ncumul` are _actually_ cummulative ([see README](https://github.com/openZH/covid_19/blob/master/README.md#data-structure) for details). Can you create a PR with the updated script?

I'm anyways working on a "validation" workflow, so I'll include that there.

[2020-03-26 08:56] metaodi commented on #195
What, no NLP? :stuck_out_tongue_winking_eye:

[2020-03-26 08:56] baryluk commented on #169
...

...

This is unrelated to this issue.

Please open separate issue to track timestamps for failures.

[2020-03-26 09:01] gaberoo opened #203 "CH_totals merge stopped triggering"
I updated the merge script to sort the output file. It seems like after that the workflow has stopped triggering 🤷‍♂️

https://github.com/openZH/covid_19/blob/master/.github/workflows/merge_canton_csvs.yml

==> #200

[2020-03-26 09:01] zdavatz commented on #152
`/bin/sh -> bash`

[2020-03-26 09:04] baryluk opened #204 "Reject dates in the future from scraped pages"
I just noticed 'AI' website (and scraper), says on https://www.ai.ch/themen/gesundheit-alter-und-soziales/gesundheitsfoerderung-und-praevention/uebertragbare-krankheiten/coronavirus :

[code]

but today is 26.03.2020.

Obviously a typo, but could be easily detected in parser for example.

[2020-03-26 09:07] baryluk opened #205 "Scraper for VD fails when using bash"
It works with dash (default `/bin/sh` on Debian/Ubuntu):

[code]

but not with bash

[code]

To be investigated.

[2020-03-26 09:09] baryluk commented on #152
@zdavatz Ok. Filled a bug about it. https://github.com/openZH/covid_19/issues/205   It can be fixed to work in bash too probably. Or we can make it work in Python too. It is the last one not implemented in Python.

[2020-03-26 09:10] baryluk commented on #205
@zdavatz Out of curiosity which OS, Distro are you using that defaults `/bin/sh` to bash?

[2020-03-26 09:11] baryluk commented on #205
BTW. It is probably easier to just port it to Python, like all the other scrapers, and not deal with this dash / bash difference. (it could be a bug in one of the shells tho. who knows).

[2020-03-26 09:12] zdavatz opened #206 "track timestamps for failures"
As requested, please track timestamps for failures, see

Use Case: Please always print a timestamp, it does not matter if the scraper fails or not. Just always print a timestamp.

[code]

[2020-03-26 09:14] zdavatz commented on #205
Gentoo Linux ;)

[2020-03-26 09:16] zdavatz commented on #152
Request for failed timestamp issue is here: https://github.com/openZH/covid_19/issues/206

[2020-03-26 09:16] baryluk commented on #205
OK. I was expecting that.

Looks like using `echo -e` will help.

[2020-03-26 09:18] ebeusch commented on #129
@zdavatz I have not yet received an email from FR regarding my second query and neither find any numbers online. So it would be good if you could make that call. (But I also think @andreasamsler,@mmznrSTAT @tlorusso carry more weight if they can go via ZH-stat to FR-stat)

[2020-03-26 09:19] SarahNadeau commented on #153
I second the request to clarify the descriptions! I also included suggestions from our group on changing field names, but I understand this may not be feasible. If possible, I would suggest to be even more verbose with the descriptions:

Field Name | Description | Format
-- | -- | --
date | Date of notification | YYYY-MM-DD
time | Time of notification | HH:MM
abbreviation_canton_and_fl | Abbreviat

[2020-03-26 09:21] zdavatz commented on #188
Nimm einfach das XLSX vom BAG: https://www.bag.admin.ch/dam/bag/de/dokumente/mt/k-und-i/aktuelle-ausbrueche-pandemien/2019-nCoV/covid-19-datengrundlage-lagebericht.xlsx.download.xlsx/200325_Datengrundlage_Grafiken_COVID-19-Bericht.xlsx

im obigen File sind die Geschlechter drinnen.

[2020-03-26 09:22] baryluk commented on #206
Ack. I agree it is useful to have.

The issue is, it is not technically easy ;)  FAILED can be due to multitude of reasons, and is printed by the top level `meta_scrape.sh`, which is different what happens for timestamps when it prints `OK` (it is done by scraper and parser).

Can be done, but it can take a day or two before we fix it. We need to get some other PRs merged first to make it work.

[2020-03-26 09:26] zdavatz commented on #206
Can't you just print "date" if the output is "Failed"?

[2020-03-26 09:26] baryluk commented on #129
It would be best to have numbers directly available on: https://www.fr.ch/covid19 and https://www.fr.ch/de/covid19  and/or https://www.fr.ch/covid19/sante/covid-19/coronavirus-informations-actuelles and https://www.fr.ch/de/covid19/gesundheit/covid-19/coronavirus-aktuelle-informationen

Also I personally think it is little bit confusing to have essentially two pages for the same things, that diffe

[2020-03-26 09:33] zdavatz commented on #129
Ich habe die Assistentin von Frau Demierre erreicht (Frau Marianne Spindel) und sie ziemlich deutlich gefragt, warum Kanton FR der einzige Kanton der Schweiz ist, der noch keine Daten auf seiner Website publiziert.

[2020-03-26 09:34] baryluk commented on #206
Can be done. Can you send PR request with something like this:

[code]

I have minor issues with git at the moment.

[2020-03-26 09:36] p1d1d1 opened #208 "Question: order of entries"
May I assume that the order of entries in here: COVID19_Fallzahlen_CH_total.csv won't change?

[2020-03-26 09:38] gaberoo commented on #208
We just modified the merge script to sort the file by date and canton. So the ordering from now on should be preserved.

[2020-03-26 09:39] herbertvonkaramalz opened #209 "Question: Why not a simple JSON?"
Why don't you directly generate a clear JSON document from the case numbers, which could be used for the display in apps and websites? Surely an automation would be easier for all users.

[2020-03-26 09:43] zukunft commented on #209
I have started with a JSON conversion script to forward the data to wikidata, because for wikidata the item and property enrichment is needed. I paste later here a prototype of the format suggestion.

[2020-03-26 09:43] zdavatz commented on #206
Can you pull from here: https://github.com/zdavatz/covid_19/blob/master/scrapers/meta_scrape.sh? I applied your patch.

[2020-03-26 09:45] zdavatz commented on #206
patch works:
[code]

[2020-03-26 09:45] zukunft commented on #198
And I guess, we need the "day taken" to "date reported" conversion to make the data of the cantons compatible.

[2020-03-26 09:45] DonChef660 commented on #129
FR Daten über BAG, Stand 25.03.2020: 251
https://www.bag.admin.ch/dam/bag/de/dokumente/mt/k-und-i/aktuelle-ausbrueche-pandemien/2019-nCoV/covid-19-datengrundlage-lagebericht.xlsx.download.xlsx/200325_Datengrundlage_Grafiken_COVID-19-Bericht.xlsx

[2020-03-26 09:47] tlorusso commented on #179
Done! Thanks @zukunft :)

[2020-03-26 09:47] #179 closed

[2020-03-26 09:47] zdavatz commented on #129
Ja Danke, die Zahlen sind von gestern. Die Kantone sollte zur Zeit immer noch schneller sein, bis dann die Ärzte und Labore beginnen die editierbaren PDF zu verwenden. Siehe https://corona.bergi-it-consulting.ch/bag-formulare

[2020-03-26 09:48] zukunft commented on #185
Aus der Differenz von zwei Tagen könnte man die Daten des BAG von der "Tage der Probenentnehma" auf das "Tag des positiven Tests" umrechnen.

[2020-03-26 09:48] #203 closed

[2020-03-26 09:50] baryluk commented on #185
Automatic extraction tool in progress:

We still need extraction, because the xlsx doesn't have historical data per-canton.

But it is a very useful data.

[code]

[2020-03-26 09:51] ebeusch commented on #185
Ich denke, es wäre sicher mal interessant, um zu schauen wie gross die Gaps sind zwischen hier vs. BAG sind, und ob/wie schnell sich diese schliessen?

[2020-03-26 09:53] zukunft commented on #185
@baryluk könnte das script auch das PDF von Genf archivieren? Siehe #180
Ich denke, auch da müssen wir die "Tage der Probenentnehma" auf das "Tag des positiven Tests" Umrechnung machen.

[2020-03-26 09:54] zdavatz commented on #185
I think it is easier to archive PDFs using github actions. Makes much more sense.

[2020-03-26 09:55] zdavatz commented on #185
Ja, das möchten wir gerne machen, siehe https://github.com/zdavatz/covid19_ch/issues/20

[2020-03-26 09:56] zdavatz commented on #185
It is the very first file they published yesterday. ;)

[2020-03-26 09:57] tlorusso commented on #198
merged. Thx @rsalzer. Closing this. Can you open a separate issue for the 'date reported' issue @zukunft ?

[2020-03-26 09:57] #198 closed

[2020-03-26 09:57] zdavatz commented on #209
Just build your own and reference it here. Or send a PR.

[2020-03-26 09:58] baryluk commented on #209
@herbertvonkaramalz Can't you just read csv file?

[2020-03-26 10:01] zdavatz commented on #209
Javascript people like JSON ;)

[2020-03-26 10:03] tlorusso commented on #153
@SarahNadeau Thanks! Looks good & makes sense, we should implement your version of the column descriptions in the Readme. I've a question regarding `ncumul_vent `, appearingly for some cantons, information about intubated patients has been stored in this column for now. How important is the distinction between ventilated / intubated from your point of view? If we want to separate this two things w

[2020-03-26 10:10] tlorusso commented on #162
Done. GRAZIE @zukunft

[2020-03-26 10:10] #162 closed

[2020-03-26 10:11] TheCharlatan commented on #188
Ich hätte vielleicht hinzufügen sollen, dass ich sie weiterhin gerne nach Kantonen aufgeteilt hätte.

[2020-03-26 10:14] ebeusch commented on #129
_Nous avons bien reçu votre demande.

Les chiffres concernant le canton de Fribourg seront mis à jour sur le site de l’Etat de Fribourg  (www.fr.ch) à partir de 15h cet après-midi._

Halleluja! (I dare to hope - but I don't dare to make any more requests to them)

[2020-03-26 10:15] gaberoo commented on #208
Actually, as new entries are added, the ordering could in fact change.

The output file is always sorted by date, time, canton.

[2020-03-26 10:15] #208 closed

[2020-03-26 10:22] tlorusso commented on #209
@herbertvonkaramalz This repo focuses on data collection, thats why we exclusively offer csv, to keep thins as overseeable as possible. Everyone who wants to build an API or build jsons for reusage containing this data is free to do so. We've built a csv with all the cantonal data to make this easier :

https://github.com/openZH/covid_19/blob/master/COVID19_Fallzahlen_CH_total.csv

As we welcome s

[2020-03-26 10:23] rsalzer commented on #209
I create the json very simply with D3.js.
d3.csv(...) creates a json for you.

[2020-03-26 10:26] rsalzer opened #210 "Discussion: Add missing cantonal data from the BAG-Excel"
The BAG has released an [excel](https://www.bag.admin.ch/dam/bag/de/dokumente/mt/k-und-i/aktuelle-ausbrueche-pandemien/2019-nCoV/covid-19-datengrundlage-lagebericht.xlsx.download.xlsx/200325_Datengrundlage_Grafiken_COVID-19-Bericht.xlsx) with data for the cantons.
We could use those case numbers for missing cantons (especially FR...)
What do you think?

[2020-03-26 10:27] baryluk commented on #210
Duplicate: https://github.com/openZH/covid_19/issues/185

[2020-03-26 10:28] SarahNadeau commented on #153
@tlorusso I was under the impression that we were not lumping intubation and ventilation data. So where intubation data is available, we will break this into a separate column (e.g. "ncumul_ICU_intub" for GE). However, I only joined as of this week and do not know how this was done before; @andreasamsler would have the real answer. Either way, the documentation of these new columns is missing.

We

[2020-03-26 10:31] rsalzer commented on #210
I am talking specifically about filling gaps in cantonal data with the BAG-data. I dont see a sense in using the data otherwise.

[2020-03-26 10:32] zdavatz commented on #188
wo den im XLSX vom Bund? Die kantonalen Zahlen sind hier: https://github.com/openZH/covid_19/tree/master/fallzahlen_kanton_total_csv alles nach Kanton aufglistet. Ein File pro Kanton.

[2020-03-26 10:34] baryluk commented on #204
BTW. I did just send an email to `info at gsd.ai.ch` about the typo. It probably should have been '25.03.2020, 17.00 Uhr'.

[2020-03-26 10:34] zdavatz commented on #210
@rsalzer I think this is a good idea! We parse the XLSX from BAG every day for `FR` as long as they do not publish anyhting on their website. I also called them up today by phone.

[2020-03-26 10:35] zdavatz commented on #210
I may also happen, that the better the Daten from BAG become, the less the cantons will publish. Maybe. Maybe also the opposite will happen and the Cantons will go into data-publication-competition with the federal government ;) -> That would be even better.

[2020-03-26 10:37] zdavatz commented on #129
Saubi!

[2020-03-26 10:38] jb3-2 commented on #193
If I understand correctly, the only info in the text that is not present in the csv is the number of positive tests from people that live outside of Basel-Stadt. Do you agree? Do other Cantons report this number, too? Unsure how this can be tracked:

- Add a new column "ncumul_positive_foreign_canton" in the csv?

BTW @tlorusso @metaodi I'm working on getting the Gesundheitsdepartement BS to publi

[2020-03-26 10:45] tlorusso commented on #210
I think for the moment we should stick to providing a complementary but separate source from the BAG data, containing just the officialy published figures by the Cantons. What's your opinon on this @andreasamsler?

[2020-03-26 10:50] zdavatz commented on #210
I am sure @baryluk could out put the numbers from the BAG XLSX in his terminal output too: https://www.functor.xyz/covid_19/scrapers/outputs/latest.txt - XLSX format should stay the same otherwise I will complain to them.

[2020-03-26 10:55] zdavatz opened #211 "Integrate BAG XLSX file into python scraper to compare cantonal with federal numbers"
@baryluk Can you please output the official cantonal numbers from the BAG XLSX here as well: https://www.functor.xyz/covid_19/scrapers/outputs/latest.txt

Just add another column beside the number your are Python-Scraping from the cantons. Then we have straight comparison between the cantons and the federal government numbers. ;)

XLSX is here: https://www.bag.admin.ch/dam/bag/de/dokumente/mt/k-un

[2020-03-26 11:05] tlorusso commented on #153
@SarahNadeau as just few cantons report this numbers so far, it should not be much work to identify where this has happend. I just spotted that GE contains the same figures in the intub / vent columns, although it obviously shouldn't.

https://github.com/openZH/covid_19/blob/master/fallzahlen_kanton_total_csv/COVID19_Fallzahlen_Kanton_GE_total.csv

https://www.ge.ch/document/covid-19-situation-epi

[2020-03-26 11:05] baryluk opened #212 "Scraper for SZ broken (2020-03-26)"
Minor format change:

[code]

was

[code]
weird.

[2020-03-26 11:05] grssnbchr commented on #210
@tlorusso I second your opinion. Mixing up cantonal and federal sources is not a good idea at the moment, imho. The documentation of BAG data has been very sub-standard and I wouldn't want them to pollute this beautiful data set. That's also one of my main criticisms regarding corona-data.ch.

[2020-03-26 11:07] grssnbchr commented on #209
@tlorusso Please keep the data format (CSV) ;-)

[2020-03-26 11:08] rsalzer commented on #210
When I think about it ... you are actually right @grssnbchr
It is just my urgent need to use actual data from FR :-)

[2020-03-26 11:08] grssnbchr commented on #129
Finally... Imho it's better to wait for these data than to "pollute" the collection with BAG data...

[2020-03-26 11:11] zukunft commented on #129
Got the same email ... nevertheless we should support FR if they request, so that the can concentrate on the "real/medical" issues.

[2020-03-26 11:15] SarahNadeau commented on #153
@tlorusso good catch that we had incorrectly duplicated intub data in the vent column for GE. I'll flag this for the 2pm update person to correct. I will not add any columns myself (as discussed with Andreas) but if you add the column we will be happy to check it/ update it!

[2020-03-26 11:19] baryluk commented on #211
Maybe. Probably in a separate file tho.

[2020-03-26 11:20] zdavatz commented on #210
still, comparing the data makes sense. It is the federal government.

[2020-03-26 11:23] zdavatz commented on #129
@grssnbchr Not pollute, compare it in the scraper output. That is a BIG difference. See #211

[2020-03-26 11:32] baryluk commented on #212
I have a fix ready, but it requires https://github.com/openZH/covid_19/pull/194 merged first.

[2020-03-26 11:33] zdavatz commented on #212
@baryluk have you pushed to your branch?

[2020-03-26 11:33] baryluk commented on #212
@baryluk What?

[2020-03-26 11:34] baryluk commented on #212
@zdavatz No.

[2020-03-26 11:38] baryluk commented on #204
https://www.ai.ch/themen/gesundheit-alter-und-soziales/gesundheitsfoerderung-und-praevention/uebertragbare-krankheiten/coronavirus just got fixed, it says now '25.03.2020, 17.00 Uhr'. Correct.

Still, a check in parser will be be good to have.

[2020-03-26 11:44] TheCharlatan commented on #188
Genau, in den kantonalen Tabellen wäre die Aufteilung in Alterklammern durchaus interessant.

[2020-03-26 11:46] pnwscm60 commented on #129
I had the same email yesterday... Let's hope, that today it becomes reality ;-). it's not so unexpected. I live in canton of Fribourg and the authorities are not loving transparancy!

[2020-03-26 11:53] zdavatz commented on #129
Looks like it.

[2020-03-26 12:18] gaberoo opened #213 "Consolidate scraper workflows"
Each canton now runs its own workflow. All cantons could be combined into a single workflow. This would simplify managing automated tasks.

[2020-03-26 12:22] metaodi commented on #210
Compare the data, but this is imho outside the scope of this repo.

[2020-03-26 12:52] zdavatz commented on #210
yes, that is why just show the data in the Scraper output.

[2020-03-26 12:53] zdavatz commented on #213
good idea!

[2020-03-26 13:00] pedrodude opened #215 "Ticino definition of "intubate""
The manual updates for Ticino seem to have become slightly confused with number of people "intubated" being either recorded in ncumul_ICU_intub or in ncumul_vent.

The situation updates from Ticino provide numbers of "pazienti... di cui N intubate".  In my understanding as a native English speaker (who does not have medical knowledge), intubation is distinct from ventilation.  However, I'm not sur

[2020-03-26 13:12] mdeff commented on #129
I don't think @daenuprobst has a direct line to FR for his numbers at <https://github.com/daenuprobst/covid19-cases-switzerland>. If I understood correctly he used the cantonal prevalence published by BAG to fill in missing cantonal cases. His fatalities for FR are way off (1 on his data, 4 announced by media, more from a source I know at the hospital, see <https://github.com/daenuprobst/covid19-c

[2020-03-26 13:15] zdavatz commented on #129
Just use the data from here now: https://www.bag.admin.ch/dam/bag/de/dokumente/mt/k-und-i/aktuelle-ausbrueche-pandemien/2019-nCoV/covid-19-datengrundlage-lagebericht.xlsx.download.xlsx/200325_Datengrundlage_Grafiken_COVID-19-Bericht.xlsx

[2020-03-26 13:29] metaodi opened #216 "LU scraper fails"
https://github.com/openZH/covid_19/actions/runs/63810833

[2020-03-26 13:29] metaodi opened #217 "GR scraper fails"
https://github.com/openZH/covid_19/actions/runs/63809393

[2020-03-26 13:31] #152 closed

[2020-03-26 13:31] #182 closed

[2020-03-26 13:31] #201 closed

[2020-03-26 13:32] metaodi commented on #212
#194 is merged now

[2020-03-26 13:32] zdavatz commented on #217
GR scraper is not failing if you use the python script:
`GR 2020-03-26T          373       9 OK 2020-03-26T14:31:30+01:00 https://www.gr.ch/DE/institutionen/verwaltung/djsg/ga/coronavirus/info/Seiten/Start.aspx`
https://github.com/zdavatz/covid_19/blob/master/scrapers/scrape_gr.sh

[2020-03-26 13:33] baryluk commented on #217
Bash version indeed shows `Deaths: `. Python version works.

[2020-03-26 13:33] baryluk commented on #216
Bash version fails. Python version works.

[2020-03-26 13:34] zdavatz commented on #217
Python works veeeerryyyy well ;)

[2020-03-26 13:34] zdavatz commented on #216
Agreed
`LU 2020-03-26T11:00     253       - OK 2020-03-26T14:31:30+01:00 https://gesundheit.lu.ch/themen/Humanmedizin/Infektionskrankheiten/Coronavirus`

[2020-03-26 13:39] baryluk commented on #212
Ok.

[2020-03-26 13:40] zdavatz opened #218 "add srapers/__pycache__ to .gitignore file"
please add this to your `.gitignore` file
`scrapers/__pycache__/scrape_common.cpython-37.pyc`

[2020-03-26 13:56] zdavatz opened #220 "TI python scraper fails"
[code]
cc @baryluk

[2020-03-26 13:57] zdavatz opened #221 "UR python scraper fails"
[code]
cc @baryluk

[2020-03-26 13:58] zdavatz opened #222 "ZG python scraper fails"
[code]
cc @baryluk

[2020-03-26 14:01] baryluk commented on #221
Unfixable at the moment. If you could contact them to stick to more sane format, that is kept consistent between days, we can then fix it.

[2020-03-26 14:02] baryluk commented on #220
Works for me just fine.

When it started failing for you?

[2020-03-26 14:03] #216 closed

[2020-03-26 14:03] #217 closed

[2020-03-26 14:04] pedrodude commented on #220
I don't know much about scrapers but for Ticino there is more detail in the press releases (found here: https://www4.ti.ch/area-media/comunicati/) than on the COVID-19 page (https://www4.ti.ch/dss/dsp/covid19/home/).

The press releases appear to be structured consistently (titles and wording) and, if it helps, there's an RSS feed (of all updates, not just COVID-19 ones) here: https://www3.ti.ch/x

[2020-03-26 14:04] baryluk commented on #222
Weird. Works for me just fine.

[2020-03-26 14:04] ebeusch commented on #129
Let's not do that - because FR just uploaded historic data!!! (I feel like it's my birthday).

@baryluk (or other scrapers I don't know by name) it's here: https://www.fr.ch/covid19/sante/covid-19/coronavirus-statistiques-evolution-de-la-situation-dans-le-canton

[2020-03-26 14:05] baryluk commented on #220
@zdavatz Your issue report is simply invalid. Please close it.

The AssertionError is not about TI, but NEXT line.

Clearly TI returned OK with results.

[2020-03-26 14:06] pnwscm60 commented on #129
Halleluja!
___________________________________________

Covid-19 geht uns alle an: Bleibt zu Hause, haltet Abstand und befolgt die Weisungen von Bund und Kanton!

Grafik zur Entwicklung ohne Massnahmen: https://ebpswiss.ch/animation.html <https://ebpswiss.ch/animation.html>
Seite Bundesamt für Gesundheit: https://www.bag.admin.ch/bag/de/home.html <https://www.bag.admin.ch/bag/de/home.html>
Aktuell

[2020-03-26 14:06] baryluk commented on #222
@zdavatz Please close this issue. ZG scraper worksfine.

The error you are seeing is probably due to ZH (next to be run after ZG). Which we already had PR to fix.

[2020-03-26 14:07] baryluk commented on #220
@pedrodude That is good to know. Thanks.

This issue however is invalid, and should be closed.

[2020-03-26 14:08] zdavatz commented on #220
Ok!

[2020-03-26 14:08] #220 closed

[2020-03-26 14:08] zdavatz commented on #222
Ok!

[2020-03-26 14:08] #222 closed

[2020-03-26 14:09] ebeusch commented on #210
If this discussion is mostly about FR, we can close this discussion now ;) see #129
FR has published historic data. Finally.

[2020-03-26 14:09] zdavatz commented on #129
great job @ebeusch

[2020-03-26 14:10] baryluk commented on #213
Maybe yes. Maybe no. Having them separate do have advantages, in case of failures in some scrapers not being well isolated.

[2020-03-26 14:11] baryluk commented on #206
@zdavatz I know it works. Did you send a PR?

[2020-03-26 14:12] rsalzer commented on #129
He uses the BAG-data to estimate FR ...

[2020-03-26 14:12] zdavatz commented on #206
@baryluk no sorry, my branch is way of with lots of other stuff in it. How can I send you a PR just for that file?

[2020-03-26 14:12] zukunft commented on #129
Great.

[2020-03-26 14:13] tlorusso commented on #215
Related to #153. Thx for the hint. Looking into it, might be a problem in the case of other cantons as well. ZH says 'werden künstlich beatmet', not sure if this means intubated OR ventilated (or one of the two?).

[2020-03-26 14:15] #218 closed

[2020-03-26 14:16] rsalzer commented on #129
Is someone already working on this? ;)

[2020-03-26 14:16] baryluk commented on #129
@ebeusch Excellent.

That is perfect!

On it.

[2020-03-26 14:17] zukunft commented on #129
2020-03-11,,FR,,16,  ,,,,0,https://www.fr.ch/covid19/sante/covid-19/coronavirus-statistiques-evolution-de-la-situation-dans-le-canton
--
2020-03-12,,FR,,22,  ,,,,0,https://www.fr.ch/covid19/sante/covid-19/coronavirus-statistiques-evolution-de-la-situation-dans-le-canton
2020-03-13,,FR,,29,  ,,,,0,https://www.fr.ch/covid19/sante/covid-19/coronavirus-statistiques-evolution-de-la-situation-dans-le-ca

[2020-03-26 14:18] zdavatz commented on #221
sending an Email now to: afg@ur.ch

[2020-03-26 14:19] ebeusch commented on #129
I feel like the stalking ex that can finally let it go.... thanks guys for taking over from now on :)

[2020-03-26 14:20] tlorusso commented on #129
PR anyone? Not at my PC currently.

[2020-03-26 14:20] andreasamsler commented on #210
Thanks to everyone, we are continuing to stick to our approach to not mix Cantonal and BAG data.

[2020-03-26 14:20] #210 closed

[2020-03-26 14:20] rsalzer commented on #129
@zukunft Do a PR for it ... untill the scraper will work. Finally updated data for all cantons.

[2020-03-26 14:20] zukunft commented on #129
On it

[2020-03-26 14:22] andreasamsler commented on #215
@GD-ZH please clarify, what ZH means with 'werden künstlich beatmet', (a) ventilated or (b) intubated. Thanks. Best, Andreas

[2020-03-26 14:30] baryluk commented on #129
Coding now.

[code]

But, it is a little bit ugly:

[code]

I would be interested to see @zukunft approach.

[2020-03-26 14:34] #212 closed

[2020-03-26 14:38] MTBEnthusiast commented on #221
Wrong site, should be https://www.ur.ch/themen/2962

[2020-03-26 14:39] #206 closed

[2020-03-26 14:43] MTBEnthusiast commented on #129
Site "https://www.fr.ch/de/covid19/gesundheit/covid-19/coronavirus-statistik-ueber-die-entwicklungen-im-kanton" should be used

[2020-03-26 14:44] grssnbchr commented on #129
No, that would be exactly the wrong thing to do, I think. That's what I meant by polluting. But anyway, don't want to interfere too much with your great work, people. Thank you!

[2020-03-26 14:45] rsalzer commented on #129
We got FR data now. The scraper is already in development. So no need for BAG data anymore 😇

[2020-03-26 14:46] #209 closed

[2020-03-26 14:49] baryluk commented on #129
We can develop a separate tool for cross-checking BAG data, but we will see. Maybe tomorrow. We are archiving these files.

[2020-03-26 14:52] baryluk commented on #129
@zukunft Ah I see now. Thanks for backfilling FR data into CSV. Awesome.

[2020-03-26 14:53] baryluk commented on #221
Ah. Right. I have seen that one before. Too many things too do.

Ok. I think I just did forgot about it.

I will look into the fix.

[2020-03-26 15:08] baryluk commented on #221
Using new URL, there is progress:

[code]

[2020-03-26 15:22] zdavatz opened #231 "Python Scrapper for VD fails"
[code]
cc @baryluk

besides from that, they now all work! Congratulations!

[2020-03-26 15:24] zdavatz commented on #231
works! https://github.com/openZH/covid_19/pull/230

[2020-03-26 15:24] #231 closed

[2020-03-26 15:42] #204 closed

[2020-03-26 16:07] zdavatz commented on #221
works.

[2020-03-26 16:07] #221 closed

[2020-03-26 16:09] baryluk commented on #231
There are no Python scraper for VD.

As you already know, this is due to bash.

Yes, #230 is a "fix".

[2020-03-26 16:09] zdavatz commented on #129
@baryluk I am now getting:
[code]

[2020-03-26 16:18] baryluk opened #237 "Expose extra (optional) data in scraper parser output"
Right now we only print confirmed cases and deaths (or `-` if not known). But in many scrapers we capture some extra information (like hospitalized, recovered, etc.).

We already are reading it in parser, but not exposing it out.

To not break existing tools, the best is to simply add a "new" parser, or a parser flag, that will then use a new format.

Possible, CSV with headers directly.

[2020-03-26 16:26] zukunft commented on #188
Die meisten Kantone haben in der Tat nach ein paar Tage aufgehört dies Daten zu publizieren. Nachdem jetzt aber die täglichen updates automatisch laufen, sollte man dies aber wohl wieder angehen. Um Doppelzählungen zu unterbinden und zur Datenvalidierung. Aber dafür macht es wohl nicht Sinn über die normalen Internetseiten der Kantone zu gehen. Vielmehr wäre eine direkte Dateneinlieferung wohl sin

[2020-03-26 16:33] zdavatz commented on #221
Confirmation by Uri:

![latest-screenshot](https://user-images.githubusercontent.com/4953/77671417-e1560300-6f87-11ea-9ce7-83aa35f078ac.png)

[2020-03-26 16:37] andreasamsler commented on #188
ZH wird Publikation wieder aufnehmen in Kürze ..

[2020-03-26 16:38] metaodi commented on #211
Closing this, see #210

[2020-03-26 16:38] #211 closed

[2020-03-26 16:38] metaodi commented on #185
Closing this, see #210

[2020-03-26 16:38] #185 closed

[2020-03-26 16:39] zukunft commented on #185
Was zum Beispiel interessant ist, dass es für den 19.3. vom 26.3. auf den 25.3. eine Abnahme um 10 gegeben hat. Möglich, dass diese Fälle korrigiert und auf einen anderen Tag legt wurde. Oder das BAG oder einzelne Kantone reporten die geheilten Fälle nicht mehr, sondern nur die aktiven Fälle. Ich denke, mann sollte jetzt bei den Kantonen nachfragen, was für Zahlen sie genau publizieren. Da gibt es

[2020-03-26 16:42] zdavatz commented on #185
Am Ende hat der Bund am meisten Info.

[2020-03-26 16:43] zdavatz commented on #211
Not a smart move, to close this.

[2020-03-26 16:44] zdavatz commented on #188
und hoffentlich auch die Daten vom Bund.

[2020-03-26 16:46] zukunft opened #238 "Improve data quality by harmonizing the reporting - "date of test" vs "date of result""
It looks like GE is reporting based on the "date of test" whereas other cantons use the "date of result". At least it should be clarified, which canton uses which standard. And in a second step e.g. for GE the complete report should be saved on daily bases, so that numbers based both methods can be displayed.

[2020-03-26 16:48] zukunft commented on #188
Super. Danke für das Engagement.

[2020-03-26 17:04] metaodi commented on #153
@tlorusso are you creating a PR for this?

[2020-03-26 17:10] zukunft commented on #196
I will write an email.

[2020-03-26 17:13] tlorusso commented on #153
Either later this evening or tomorrow morning. @metaodi

[2020-03-26 17:14] baryluk commented on #196
@zukunft Much appreciated.

[2020-03-26 17:23] grssnbchr opened #241 "Missing numbers in ncumul_deceased for TG"
There's an entry for a deceased person on 2020-03-24 that is not continued on 2020-03-25 and 2020-03-26: https://github.com/openZH/covid_19/blob/master/fallzahlen_kanton_total_csv/COVID19_Fallzahlen_Kanton_TG_total.csv

Thank you!

[2020-03-26 19:58] #241 closed

[2020-03-26 20:00] #195 closed

[2020-03-26 20:07] metaodi commented on #237
Yes I was thinking the same, but I'm not yet sure about the format. Since the result is anyway parsed and put in SQLite currently, headers are not necessary. On the other hand, it would allows us to change the output again in the future.

[2020-03-26 20:35] metaodi commented on #153
Fixed in #243

[2020-03-26 20:35] #153 closed

[2020-03-26 20:54] #133 closed

[2020-03-26 21:02] #129 closed

[2020-03-26 21:31] cybermax opened #244 "'string' instead of 'int'"
Please avoid using strings instead of ints. In file "COVID19_Fallzahlen_FL_total.csv", remove ">" sign.

2020-03-26,,FL,>900,56,,,,,,https://www.regierung.li/media/attachments/151-900-personen-getestet.pdf?t=637208497707275503

[2020-03-26 23:19] apfeuti opened #250 "REST-API in own repo"
I've created a REST-API to get the data collected by openZH. Data can be filtered by country (CH, FL), cantons and date. Figures for whole Switzerland are also available (totals over all cantons). Output is available in json and csv.

https://covid19-rest.herokuapp.com/
https://github.com/apfeuti/covid19-rest

[2020-03-26 23:46] metaodi commented on #244
Fixed!

[2020-03-26 23:46] #244 closed

[2020-03-26 23:48] metaodi commented on #205
Closing since I merged #236

[2020-03-26 23:48] #205 closed

[2020-03-26 23:50] metaodi commented on #40
See #246 for a Rmd document

[2020-03-27 04:19] lcalmbach opened #253 "canton GE: cumulative values should not decrease"
In the canton of GE, the number of deaths decreases between 2020-03-21 and 2020-03-22 from 10 to 9. if the series is truly cumulative, this is not possible. the value of 2020-03-21 should be verified and probably reduced to 9.

[2020-03-27 05:40] metaodi commented on #253
I already opened an issue to validate the cumulative fields to avoid this in the future: #197

[2020-03-27 07:36] zukunft commented on #250
Thanks. Maybe have also a look here for future ideas: https://covidtracking.com/software/ and https://github.com/COVID19Tracking/covid-tracking-api . This seems to be a similar project.

[2020-03-27 07:51] apfeuti commented on #250
Yes, they are similar, but seems to be dedicated to data of the US. There are many COVID19-Rest-APIs out there, most of them are based on data of https://github.com/CSSEGISandData/COVID-19 (Johns Hopkins University).

Maybe openZH can somehow provide their data per canton (area) to JHU? Currently they are reporting for Switzerland only one grand-total.

[2020-03-27 08:24] zdavatz opened #255 "Python Scraper FR still fails"
cc @baryluk

[code]

[2020-03-27 09:17] tlorusso opened #256 "Adapt JU Scraper to scrape ncumul_hosp, ncumul_ICU and deceased"
Currently, the JU scraper does only collect confirmed cases. Hospitalized and ICU cases as well as deceased (still empty) would be available as well:

https://www.jura.ch/fr/Autorites/Coronavirus/Accueil/Coronavirus-Informations-officielles-a-la-population-jurassienne.html

https://github.com/openZH/covid_19/blob/master/fallzahlen_kanton_total_csv/COVID19_Fallzahlen_Kanton_JU_total.csv

[2020-03-27 09:32] #250 closed

[2020-03-27 09:38] metaodi commented on #255
@zdavatz I created a fix in #249, can you check if that work for you?

[2020-03-27 10:03] tlorusso opened #257 "TI scraper excludes ICU patients from ncumul_hosp"
TI: scraper incorrectly excludes ICU patients from ncumul_hosp, @SarahNadeau has fixed this manually today. The scraper should take the first value for ncumul_hosp, the second one reports the number of patients in regular hosiptalization (excluding ICU).

Example for 26.03.2020:

Source:
https://www4.ti.ch/area-media/comunicati/dettaglio-comunicato/?NEWS_ID=187523&tx_tichareamedia_comunicazioni%5B

[2020-03-27 10:06] zdavatz commented on #255
@metaodi yes, thank you this works!

[2020-03-27 10:06] #255 closed

[2020-03-27 10:07] zdavatz opened #258 "SZ python scraper fails"
cc @baryluk

[code]

[2020-03-27 10:28] gaberoo commented on #197
Gotcha. I’ll look into this in a bit.

[2020-03-27 10:36] cybermax opened #259 "ncumul_ICF"
what does this field represent? ncumul_ICU = ncumul_ICF in French? Is it cumulative?

[2020-03-27 10:39] cybermax opened #260 "intensive care"
can one safely assume that on a specific day:
num_intensive_care = ncumul_ICU + ncumul_ICU_intub + ncumul_ICF + ncumul_vent

is this correct?

[2020-03-27 10:56] tlorusso commented on #260
Hi @cybermax, `ncumul_ICU` should be the column containing the total number of patients in intensive care (with or without ventilation / incubation). This column is already available in the merged swiss file. The same stands for the `ncumul_vent`, which should contain the number of patients requiring ventilation. In a next step, we want to include the column for the intubated cases in all files as

[2020-03-27 10:57] tlorusso commented on #259
This column may become obsolete and be replaced. Its just available in the Geneve file. See #260

[2020-03-27 10:57] #259 closed

[2020-03-27 11:11] zdavatz opened #261 "Python AR Scraper fails"
cc @baryluk
[code]

[2020-03-27 11:26] metaodi commented on #257
Related to #237

[2020-03-27 11:27] metaodi commented on #256
Related to #237

[2020-03-27 11:28] zdavatz opened #262 "Python Scraper for BS, only show one link"
Please only show one link in the Python Scraper for BS, only show the link where the number comes from. All other lines also only have one link per source.
[code]
cc @baryluk

[2020-03-27 11:28] metaodi commented on #130
Related to #237

[2020-03-27 12:36] metaodi commented on #262
There are actually two downloads for the BS scraper and they are delimited with a comma.

I'm not sure which download would be considered the correct one.

This is possibly related to #237, to have a more structured output from the parser.

[2020-03-27 12:49] zukunft commented on #238
The Informationsdienst Kantonaler Krisenstab of BL has confirmed via email to use "date of result".

[2020-03-27 12:50] #40 closed

[2020-03-27 12:59] zdavatz commented on #262
The first one `https://www.gd.bs.ch/` just gives an overview. That one is not needed. The second one is the exact one `https://www.gd.bs.ch//nm/2020-tagesbulletin-coronavirus-534-bestaetigte-faelle-im-kanton-basel-stadt-gd.html`

[2020-03-27 13:59] ivanek commented on #40
The Rmd is now at #246

[2020-03-27 14:19] tlorusso commented on #260
A significant share of patients in ICUs appear to be intubated (or 'künstlich beatmet'):

Currently in AG 9/10, TI 51/61 , GE 48/52

So i ask myself how relevant it is to even include 'ncumul_vent' and 'ncumul_intub'  besides the 'ncumul_ICU' column in the merged Swiss file. If we can't get precise definitions of what is meant by 'künstlich beatmet' or 'intubato' in the different Cantons, we can't

[2020-03-27 14:32] loleg opened #268 "Keep the focus on the data"
There have been a couple of code snippets added to provide "simple" exploration of the data. Depending on the programming skill, this may not be simple at all. And why stop at Python and R? Why not write examples in [773 languages](https://rosettacode.org/wiki/Rosetta_Code)? My point is: let's please keep this repository very focused on data collection, scraping and aggregation, schema and structu

[2020-03-27 14:46] andreasamsler commented on #268
thanks, @loleg, for the input. we need to groom the repo, indeed. however, now that the ressources in the repo are infrastructural, we must not do that quickly and without advance notice.

Please come up with proposals, thanks!

[2020-03-27 14:52] baryluk commented on #262
Just use the last one. This is intentional.

[2020-03-27 14:58] zdavatz commented on #262
cc @baryluk Would be cleaner if the output would always be formatted the same or at least using CSV standard. It is easier to parse that way. Thank you for your efforts!

[2020-03-27 15:06] baryluk commented on #237
I just started working on it. I will try to make the output format easy to parse in other tools, but be expandable for our use cases.

[2020-03-27 15:17] baryluk commented on #237
Would something like:

[code]

Maybe work? It would be still human readable, and easy to extract in tools (just some match on `Extra: ([^#]+)` plus `split` on `,` and `=`, and not brake existing tools.

I can update `add_db_entry.py` to work with this too.

[2020-03-27 15:31] andreasamsler opened #271 "New data source (JSON) for GR"
https://www.gr.ch/DE/institutionen/verwaltung/djsg/ga/coronavirus/_layouts/15/GenericDataFeed/feed.aspx?PageID=26&ID=g_1175d522_e609_4287_93af_d14c9efd5218&FORMAT=JSONRAW

[2020-03-27 15:33] baryluk commented on #237
BTW. Are ncumul_ICU ncumul_vent actually cumulative, or instantaneous?

[2020-03-27 15:35] baryluk commented on #271
Good. Will consume it.

Could you also provide URL for a page that uses it normally on www.gr.ch?

[2020-03-27 15:47] baryluk commented on #193
Today version.

[code]

I am talking about the sentence:

[code]

[code]

[code]

[2020-03-27 16:16] zdavatz commented on #261
works!

[2020-03-27 16:16] #261 closed

[2020-03-27 16:16] zdavatz commented on #258
Works!

[2020-03-27 16:16] #258 closed

[2020-03-27 16:19] zdavatz opened #272 "Python scraper, if no value then please output "int""
If the python scraper does not find a value for `deaths` please output an `int` not a `string`. Thank you @baryluk

`AI 2020-03-26T18:00      11       - OK`

better would be

`AI 2020-03-26T18:00      11       0 OK`

[2020-03-27 16:24] baryluk commented on #272
Not really. - means we don't have data. 0 means we have data and it is 0. There is a significant difference. When '-', the actual deaths could be anything, we just don't know directly.

[2020-03-27 16:25] betatim commented on #268
I think for a dataset to be useful it has to be used by people. This isn't as much of a tautology as it appears at first.

To use a dataset you need to do a lot of work understanding it. In terms of what the data is, what it is not, how it is structured, the file format(s), how to combine/split it, limitations, and a lot more. Some of these steps are technical (like loading it) and some are not. T

[2020-03-27 16:27] zdavatz commented on #272
Ok, but then you are mixing `string` and `integers` in that column. So the column is not consistent. Would be great if we could stick to the CSV standard and not mix strings with integers in a column.

[2020-03-27 16:29] baryluk commented on #272
Yes, it is consistent. It is either number or `-`.

[2020-03-27 16:33] andreasamsler commented on #271
By tomorrow GR is going to switch https://www.gr.ch/DE/institutionen/verwaltung/djsg/ga/coronavirus/info/Seiten/Start.aspx to consume their JSON.

[2020-03-27 16:35] jb3-2 commented on #193
Is it even possible to scrape these numbers from the text? That would definitely be helpful, but I suppose it's complex.

@andreasamsler @tlorusso Up to now I have only added the number of deceased people that lived in BS into the column ncumul_deceased  in the [sheet](https://github.com/openZH/covid_19/blob/master/fallzahlen_kanton_total_csv/COVID19_Fallzahlen_Kanton_BS_total.csv). Is that consis

[2020-03-27 16:38] baryluk commented on #257
Actually, at the moment we only use https://www4.ti.ch/dss/dsp/covid19/home/ in the scraper. Rest of data is done manually.

I can add a secondary scrape in TI scraper, to try extract data from latest article listed on https://www4.ti.ch/area-media/comunicati/

[2020-03-27 16:43] zdavatz commented on #272
Can you just leave the space empty then? Would be better then putting a `-` for parsing.

[2020-03-27 16:44] zdavatz commented on #272
What conventions are you using for the output file?

[2020-03-27 16:44] baryluk commented on #272
No, I can't because then it is actually harder to parse. It will also break `add_db_entry.py`.

[2020-03-27 16:46] zdavatz commented on #272
Can we then at least stick to a standard CSV delimiter for the values?

[2020-03-27 16:46] ivanek commented on #268
I think it is good to keep this repo focused on data collection but I agree that few code snippets to show how to work with this data might be useful. In case you want to use the R code #264 I wrote to load the data, feel free to do it.

[2020-03-27 16:57] SarahNadeau commented on #260
To be fair, I am absolutely not an expert in this domain either! For now, I really like the idea of having the cantonal data as descriptive as possible and at the national level aggregating only the fields we are confident are directly comparable. This assumes that at least data from the same canton is comparable day-to-day and allows us to present everything the cantons make available.

More impo

[2020-03-27 17:00] jb3-2 commented on #262
There are sometimes mutliple sources because in the beginning of the pandemy multiple pages were issued per day, e.g. one link with the number of deceased, one with the number of covid-19 cases. Initially we only had one line per day so I added all sources to one day. Should we create multiple lines per day to keep all source links in the dataset?

[2020-03-27 17:04] zdavatz commented on #262
Would be great if we could stick to the CSV standard and always use `;` as delimiter.

[2020-03-27 17:06] baryluk commented on #262
Also, I am working on extending a TI scraper from scrape two different sources. One for confirmed cases and deaths, and another for extra information (hospitalization, ICU, vents), but it might or might not be available on any given day. So there will be two URLs most likely anyway.

[2020-03-27 17:09] baryluk commented on #272
@zdavatz How CSV will help? You will still need to handle int or empty field explicitly.

[2020-03-27 17:38] baryluk commented on #237
Looks promising:

[code]

[2020-03-27 17:39] zdavatz commented on #272
Yes, but we do not have to handle the `string`. `Empty` is easier to handle then `string` (-).

[2020-03-27 17:41] zdavatz commented on #262
Great. But then please format the output in the standard CSV way and use a delimiter like `;` or `|`.

[2020-03-27 17:42] jb3-2 commented on #262
@zdavatz Yes of course, that‘s what I did, but it got lost when multiple columns got merged into one.
@baryluk Great, I‘d love to not lose any source URLs.
Great job to all of you, thank you so much for your work!

[2020-03-27 17:45] baryluk commented on #272
Parsing empty as int, still will fail, so it requires same amount of handling.

Could you show me snippet of code showing how you do it now, and how would you do it if it is empty?

[2020-03-27 17:47] zdavatz opened #276 "Python Scraper OW fails"
Link seems to still be the same.

Link: https://www.ow.ch/de/verwaltung/dienstleistungen/?dienst_id=5962

New Text: `Bisher ist bei 37 Personen im Kanton Obwalden das Coronavirus nachgewiesen worden. Bereits genesene Personen sind in dieser Zahl ebenfalls enthalten (Stand: 27. März 2020).`

```OW 2020-03-27T            -       - FAILED 2020-03-27T18:30:11+01:00 https://www.ow.ch/de/verwaltung/dien

[2020-03-27 17:51] zdavatz commented on #272
https://github.com/zdavatz/covid19_ch/blob/master/python-scripts/digest_baryluk.py

[2020-03-27 17:53] baryluk commented on #272
Oh. I see, you are trying to read it as csv. Well, yes, that will not really work. The output is not csv.

We should just make a secondary output that is more csv-like. Or better yet, use csv files that are in this repo.

[2020-03-27 17:55] zdavatz commented on #276
https://www.web.statistik.zh.ch/covid19_dashboard/index.html#/

[2020-03-27 17:55] baryluk commented on #276
There is already PR for this sent hour ago. Please check for PRs before opening issues if possible.

[2020-03-27 17:56] zdavatz commented on #272
well, we just want to parse the up-to-date numbers as quickly as possible. Our Map is updated every hour: http://covid19.ddrobotec.com/

[2020-03-27 18:00] zdavatz commented on #276
Sorry, closed. Sometimes you merge your PR into a separate branch and sometime into master. So `git remote show baryluk` will not always show me the fresh breads. ;)

[2020-03-27 18:00] #276 closed

[2020-03-27 18:12] zukunft opened #278 "Update history? e.g. VS hospitalizations"
Looks like VS has adjusted the number of hospitalizations of the last days. Should we also do the updates. I suggest yes, because most likely they have simply e.g. added the reports of another hospital.

[2020-03-27 18:27] baryluk commented on #272
I can start publishing csv files at https://www.functor.xyz/covid_19/scrapers/outputs/latest.csv which is the same data as latest.txt just in csv format.

If that works, I can have it working in an hour or two.

[2020-03-27 18:29] zdavatz commented on #272
That would be great, sir! Will make our data analysts very happy ;).

[2020-03-27 19:49] tlorusso commented on #215
I've just received confirmation that 'intubato' really just refers to intubated cases in TI. Closes #215

[2020-03-27 19:55] tlorusso commented on #260
Definitions i've received so far:

TI just reports intubated (as intubato)

ZH reports intubated and ventilated together (künstlich beatmet)

... further will follow.

[2020-03-27 21:35] zdavatz opened #279 "Python Scraper GR failed"
[code]
cc @baryluk

[2020-03-27 21:53] baryluk commented on #272
@zdavatz  Could you take a look at https://www.functor.xyz/covid_19/scrapers/outputs/latest.csv  ?

Once we got https://github.com/openZH/covid_19/pull/275 merged, it will also provide extra information.

[2020-03-27 22:04] baryluk commented on #256
Looks like duplicate of https://github.com/openZH/covid_19/issues/146

[2020-03-27 22:05] baryluk commented on #146
I just started working on this. Because it does provide some extra information, which we will be using soon in the importer.

[2020-03-27 22:13] baryluk commented on #279
#zdavatz Also, can you stop saying "Python Scraper" in the issue titles. It is just scraper. It is hugely irrelevant that it is or not a Python.

[2020-03-27 22:19] baryluk commented on #146
FYI. The URL changed: https://www.jura.ch/fr/Autorites/Coronavirus/Chiffres-H-JU/Evolution-des-cas-COVID-19-dans-le-Jura.html

[2020-03-27 22:23] baryluk commented on #146
[code]

It should also pickup automatically numbers for deceased, once they are non empty in the table.

[2020-03-27 22:38] #279 closed

[2020-03-27 22:51] pedrodude commented on #215
Interesting, why is that figure important to report?

[2020-03-27 23:05] baryluk opened #283 "Extract number of hospitalized and ventilated patients for ZH"
[code]

[code]

I will take a look into this in `scrape_zh.sh`

[2020-03-27 23:09] baryluk commented on #283
[code]

Will prepare PR soon.

[2020-03-27 23:18] metaodi commented on #41
This is probably what you are looking for: https://github.com/openZH/covid_19/blob/master/mappingCanton_BFS.csv

[2020-03-27 23:20] metaodi commented on #197
So the cummulative fields are:

- `ncumul_tested`
- `ncumul_conf`
- `ncumul_released`
- `ncumul_deceased`

[2020-03-27 23:24] #237 closed

[2020-03-27 23:47] baryluk commented on #272
@zdavatz I made the data on functor.xyz in https://www.functor.xyz/covid_19/scrapers/outputs/latest.csv  working, and also provide few extras (hospitalized, ventilated, recovered/released) for some cantons.

[code]

[2020-03-28 00:34] baryluk commented on #271
I have a working prototype:

[code]

[code]

It looks nice and simple, and should be robust, and not fail even if some fields are missing, or the URL goes away, then it reverses to the previous method.

[2020-03-28 00:41] baryluk commented on #257
I started working on getting extra information (hospitalized, ICU, ventilated/intubated) for TI scraper.

[2020-03-28 01:06] baryluk commented on #257
[code]

ICU numbers are inclusive (they also include people intubated).

[2020-03-28 01:13] baryluk commented on #215
Yes, I would also want to know also, as I am finishing the new scraper for TI to report this data as part of https://github.com/openZH/covid_19/issues/257

[2020-03-28 01:22] baryluk commented on #215
My limited medical understanding is that technically (or rather semantically ) intubated and ventilated refer to different things, but AFAIK everyone that needs to be (mechanical) ventilated needs to be intubated, and almost every one that is intubated, is because they are connected to mechanical ventilator. The two terms refer to different parts of the same thing. Intubation itself is the process

[2020-03-28 05:09] #283 closed

[2020-03-28 06:34] zdavatz commented on #272
great, thank you @baryluk

[2020-03-28 06:39] #272 closed

[2020-03-28 06:46] zdavatz commented on #272
@baryluk what is the option to create the CSV file output, as per your link above?

[2020-03-28 06:48] #146 closed

[2020-03-28 06:48] #256 closed

[2020-03-28 07:03] grssnbchr opened #287 "Issue with GR data of today"
The data introduced in this commit https://github.com/openZH/covid_19/commit/4f5784ac193e86a4b7bfe75179a2bcc5233f34fd seem to be corrupted, they are too low. As I can see, the canton has not published 2020-03-28 data yet.

Maybe generally: Should there be an automatic check that refuses case numbers / deaths that are lower than the day before?

[2020-03-28 08:02] zdavatz commented on #287
The data for GR as of 28.3.2020 is `409` and `9`. See Scraper output: https://www.functor.xyz/covid_19/scrapers/outputs/latest.txt

[2020-03-28 08:04] andreasamsler commented on #287
thanks, checking ..

[2020-03-28 08:05] zdavatz opened #288 "add CSV option for meta_scrape.sh to create CSV file."
@baryluk how do you create the CSV file? Would be nice if there was an option:

`meta_scrape.sh --csv ` to be able to do `meta_scrape.sh --csv > current.csv`

I can see this commit: https://github.com/baryluk/covid_19/commit/cd1934e961183759aeb294a9ce3e2581e1d1aeb0 but I do not see how you create the [CSV output file](https://www.functor.xyz/covid_19/scrapers/outputs/latest.csv). Would be great if

[2020-03-28 10:30] daenuprobst commented on #287
IMO: Deaths yes, however, case numbers no, that would be a bit pessimistic, no?

[2020-03-28 10:37] metaodi commented on #287
Yes, I'm on it #197

[2020-03-28 10:50] metaodi commented on #287
@daenuprobst confirmed case numers are cumulative in the dataset, so the number must be at least as high as the day before.

[2020-03-28 12:34] fabian commented on #288
The CSV is created with `sqlite3` here:

https://github.com/openZH/covid_19/blob/40d7d7f2cd03ba34a0b80694c20103ed33fff4b7/scrapers/run_scraper.sh#L31-L32

[2020-03-28 12:41] zdavatz commented on #288
[code]
this will not run. Would be great to have some documentation how to use it.

[2020-03-28 13:44] tlorusso commented on #215
Related to #260

[2020-03-28 15:19] zdavatz opened #290 "VD Scraper fails"
cc @baryluk
[code]

[2020-03-28 15:45] metaodi commented on #290
Failed GitHub actions run: https://github.com/openZH/covid_19/runs/541865187?check_suite_focus=true

[2020-03-28 15:53] zdavatz commented on #290
New Stats now seem to be here: https://www.vd.ch/toutes-les-actualites/hotline-et-informations-sur-le-coronavirus/point-de-situation-statistique-dans-le-canton-de-vaud/

[2020-03-28 16:43] fabian commented on #288
@zdavatz as per error message, you must set the environment variables, e.g.

[code]

[2020-03-28 16:57] zdavatz commented on #288
yes, ok thank you @fabian, but that will not give a CSV file with all the entries.

I opened the issue, because something like this would be nicer and more useful:

`meta_scrape.sh --csv > current.csv`

[2020-03-28 17:41] baryluk commented on #257
Works today too:

[code]

and

[code]

So, stable enough.

[2020-03-28 17:45] #290 closed

[2020-03-28 17:48] #257 closed

[2020-03-28 17:51] baryluk commented on #288
@zdavatz The https://www.functor.xyz/covid_19/scrapers/outputs/latest.csv is generated from https://www.functor.xyz/covid_19/scrapers/outputs/latest.txt by a simple conversion script, but it is not published or merged into this repo. It is not using `run_scaper.sh` or `add_db_entry.py`, but it does use currently sqlite too. I want to rewrite it to not need sqlite at all, and convert to CSV on the

[2020-03-28 17:54] baryluk commented on #288
Yep. That is the plan, more like `meta_scarpe.sh | convert_to_csv.py > current.csv`. But yes.

[2020-03-28 17:59] baryluk opened #293 "Partial JU scraper failure"
[code]

Quick look at the second link still show only 5 columns. So this needs to be investigated.

[2020-03-28 18:02] baryluk commented on #293
Yes, this HTML is messy, some (if not most) rows have "6" columns: But only 5 columns are really defined in header. The 6th row should be ignored.

[code]

[2020-03-28 18:05] zdavatz commented on #288
Cool, looking forward to that! Thank you @baryluk

[2020-03-28 18:26] baryluk opened #295 "Pass manually over all existing sources and check for extra information"
[code]

As can be seen, we now extract and parse some extra information for some cantons, like numbers for hospitalization, ICU, ventilated, recovered/released.

Right now we have this data for:
  * AG, FR, GE, GL, SZ, TI, UR, VD, ZG, ZH
  * And very soon for JU and GR (PRs pending).

The tracker here is to look at the other cantons, and see if there is any new information. We have people periodic

[2020-03-28 18:37] #293 closed

[2020-03-28 18:42] #271 closed

[2020-03-28 18:45] metaodi commented on #295
Let's encourage the people checking the sites periodically to report back if there are numbers they have to put in manually.

cc @andreasamsler

[2020-03-28 18:48] metaodi commented on #287
fyi: since #271 was resolved, we now have an additional JSON source for GR.

[2020-03-28 19:45] #287 closed

[2020-03-28 19:47] metaodi commented on #130
Fixed with #237 and to track more cantons #295 was created.

[2020-03-28 19:47] #130 closed

[2020-03-28 19:49] metaodi commented on #193
@jb3-2 this last point is related to #187 and needs to be resolved.

[2020-03-28 19:56] #41 closed

[2020-03-28 20:12] metaodi commented on #295
- TG: scraper does not update number of deceased, it's available
- VS: Scraper did not check additional data in pdf https://www.vs.ch/documents/6756452/7008787/Sit%20Epid%20-%20%C3%89tat%20Stand%2028.03.2020.pdf

[2020-03-28 20:13] tlorusso commented on #278
My opinion : yes. If they officially correct the history (this is what they did, right?), we should too. What do you think about this @andreasamsler ?

[2020-03-28 20:20] tlorusso commented on #68
I think we are at a point where we have quite a good overview over the updating / scraping process with:

https://www.web.statistik.zh.ch/covid19_dashboard/index.html#/
&
https://www.functor.xyz/covid_19/scrapers/outputs/

Any reason to leave this issue open @metaodi @baryluk ?

[2020-03-28 20:35] baryluk commented on #295
@metaodi Do you have a link for TG with information about deceased numbers? I don't see it on https://www.tg.ch/news/fachdossier-coronavirus.html/10552

[2020-03-28 20:42] metaodi commented on #295
Nevermind: the feedback was based on a news entry in the website, since they have their first death in TG. So it's not yet available in a scrapable form.

[2020-03-28 20:48] metaodi opened #297 "AG scraper with wrong date"
Today the scraper added a new entry with the same numbers as yesterday. When checking [the website](https://www.ag.ch/de/themen_1/coronavirus_2/alle_ereignisse/alle_ereignisse_1.jsp), these numbers were not there.

But the scraper code extracts the first entry in the timeline and then proceeds to get the first numbers on the page (in this case from yesterday). So they were erroneously assigned wit

[2020-03-28 20:50] fabian commented on #297
Looking into it.

[2020-03-28 20:53] baryluk commented on #297
It looks like the code is not very smart, and captures numbers from different days.

The solution would be to find most recent article with numbers, then download only the one article, and parse it. We do similar thing  few other scrapers.

[2020-03-28 20:54] metaodi commented on #68
I agree we have a good overview. From my point-of-view the only thing I'd like to change is the need to check all those places by myself.

I get an error mail for every failed run of the scraper frlm GitHub. But you don't (I guess), so to automate that would be my goal. No matter if it's an email, a chat bot or a new ticket on GitHub.

[2020-03-28 20:56] #288 closed

[2020-03-28 21:18] zdavatz commented on #288
works great, thank you!

[2020-03-28 21:19] zdavatz commented on #68
go for it.

[2020-03-28 21:21] tlorusso commented on #193
When it comes to the number of hospitalized cases in the `ncumul_hosp`-column, i really think we should take the number of patients who are currently hospitalized in a canton independent of their residency. From a resources-point of view every patient counts. And - as far as i can judge - double-reporting should not be to much of a risk here, i haven't seen other Cantons besides BS yet that have r

[2020-03-28 21:27] baryluk commented on #288
Extras (hospitalized, ICU, Ventilated, Released) should also work now:

[code]

[2020-03-28 21:37] zdavatz commented on #288
Double cool. We are building this map now from the CSV: https://github.com/zdavatz/covid2019_ch_map/ - data is also used on an hourly basis here: http://covid19.ddrobotec.com/ with new doubling time being calculated. Great work @baryluk and everybody!

[2020-03-28 21:41] zdavatz commented on #288
this is the map being created: https://twitter.com/zdavatz/status/1244016259924189186?s=20 - if all is read, no scrapers have failed ;). yay! ;)

[2020-03-28 21:50] #297 closed

[2020-03-28 22:14] baryluk commented on #295
* SG: As of 2020-03-28 no extra information at https://www.sg.ch/tools/informationen-coronavirus.html
* LU: As of 2020-03-28 no extra information at https://gesundheit.lu.ch/themen/Humanmedizin/Infektionskrankheiten/Coronavirus
* FL: As of 2020-03-28 no extra information in PDFs linked from https://www.regierung.li/coronavirus
* SO: As of 2020-03-28 no extra information at https://corona.so.ch/
*

[2020-03-28 22:19] baryluk commented on #68
I think the dashboard is excellent, and provide the needed monitoring.

The only thing we need, is detecting optional data regression from scrapers. I.e. one day scraper for canton CC providing numbers of deaths or ICU, but not providing them (even the same) next day (for whatever reasons - broken scraper, missing data on the original website, etc). Right now, we will just consumed what we have, a

[2020-03-28 22:24] baryluk commented on #193
Daily bulletins from BS continue to be a pain to scrape:

[code]

Technically we could capture this `dreizehn` and so on, and do something with it, but it will probably break by Monday.

[2020-03-28 22:33] baryluk commented on #193
@tlorusso I agree. I think it is irrelevant where the person is from (different canton, different country, etc). Virus doesn't care. We track not number of residents of canton X being infected, hospitalized. But number of infected, hospitalized people in the canton X.

[2020-03-28 22:41] baryluk commented on #193
@jb3-2 Do you have personal contact to people who manage this data, or website? A table, or at least central page, where some latest numbers are present (with time and hour of a report), would help both us, and residents of Basel quite a bit.

[2020-03-28 22:44] baryluk commented on #215
I was wrong in my comment at https://github.com/openZH/covid_19/issues/215#issuecomment-605374256  . It is possible to be ventilated, without intubation. And it is quite common. Sorry.

[2020-03-28 22:50] zukunft commented on #193
For "ncumul_hosp" and "ncumul_hosp_resident" this makes sense to me. For "deceased" I would assume, that this is also hospital-centered. Based on last weeks reactions, asking a short question how this is handled seems to be not (yet) a problem. Based on the answers, we can add "ncumul_positive_foreign_canton" if needed. I can start asking and post the answers here.

[2020-03-28 22:58] baryluk commented on #260
AFAIK. ncumul_ICU_intub (or ninst_ICU) and ncumul_vent are already included in ncumul_ICU.

[2020-03-29 07:17] metaodi opened #303 "SH scraper fails"
The [SH scraper fails](https://github.com/openZH/covid_19/runs/542829088?check_suite_focus=true):

[code]

[2020-03-29 09:05] #303 closed

[2020-03-29 09:45] smalos opened #306 "raw data - order"
This is not an issue but a suggestion:
Could you order the raw data ( https://www.corona-data.ch/ ) in descending order so that the latest data/date is at the top? (headers/cantons disappear when scrolled down)

[2020-03-29 09:47] zdavatz opened #307 "SH Scraper fails"
cc @baryluk
[code]

[2020-03-29 13:54] jb3-2 commented on #193
@baryluk No I don't have personal contact yet - I will continue to update the table manually every day until all relevant numbers can be scraped somehow.

@zukunft A new column "ncumul_positive_foreign_canton" is a good idea, but I would rather name it "ncumul_positive_nom_resident" or so, because in BS we probably have people from France and Germany, not only from other cantons. What do you think

[2020-03-29 13:59] zukunft commented on #193
@jb3-2 Agreed, let's name it "ncumul_positive_non_resident"

[2020-03-29 14:00] Pseudomanifold opened #309 "Missing data in `ncumul_released` field (should be carried forward)"
Thanks for providing this service!

I saw that, contrary to the description of the data frame, the `ncumul_released` column is missing data for certain cantons (for example `AG`: the number increases to 4, but then no more data is being reported). I suggest forward-filling data or making a mention of this in the README.

Let me know if I can support this in any way!

[2020-03-29 14:21] #197 closed

[2020-03-29 14:22] metaodi commented on #307
Duplicate of #303

[2020-03-29 14:22] #307 closed

[2020-03-29 14:27] metaodi commented on #306
@smalos this is not the repository of corona-data.ch, the repository you're looking for is here:
 https://github.com/daenuprobst/covid19-cases-switzerland

[2020-03-29 14:27] #306 closed

[2020-03-29 14:28] fabian commented on #309
Unfortunately AG stopped recording number of patients released on 19.03.2020 as instructed by BAG:

 https://www.ag.ch/media/kanton_aargau/themen_1/coronavirus_1/lagebulletins/200319_KFS_Coronavirus_Lagebulletin_15.pdf

[2020-03-29 16:21] metaodi opened #312 "VS scraper fails"
[VS scraper currently fails](https://github.com/openZH/covid_19/runs/543415944?check_suite_focus=true):

[code]

[2020-03-29 16:47] zdavatz opened #313 "VS Scraper fails"
[code]
cc @baryluk

[2020-03-29 17:06] metaodi commented on #313
Duplicate of #312

please quickly check if your issue has been submitted already.

[2020-03-29 17:06] #313 closed

[2020-03-29 17:11] zdavatz commented on #313
sorry about that!

[2020-03-29 17:21] zdavatz commented on #312
sees like it is in a PDF now. https://www.vs.ch/documents/6756452/7008787/Sit%20Epid%20-%20%C3%89tat%20Stand%2029.03.2020.pdf

cc @baryluk

[2020-03-29 17:22] tlorusso commented on #260
Thx for tracking and contributing to this discussion on definitions @baryluk besides all the scraping / technical ones. Indeed, the total number of patients in ICU (ncumul_ICU) already gives a very good idea of how many patients need ventilation / intubation, as most of the ICU-cases do. However, we will try to clarify how to handle the additional information on how many ICU patients need which ki

[2020-03-29 17:51] baryluk commented on #312
Not at the computer at the moment.

I suggest you call and also send email to bring  the up to date numbers
back to where they were.

On Sun, 29 Mar 2020, 19:21 Zeno R.R. Davatz, <notifications@github.com>
wrote:

[2020-03-29 17:56] baryluk commented on #312
Actually looking into his pdf, i would say it is rather nice display and
analysis, and is helpful. Plus it allows for historical reference.

But direct current numbers and graphs were really nice before.

On Sun, 29 Mar 2020, 19:51 Witold Baryluk, <witold.baryluk@gmail.com> wrote:

[2020-03-29 18:01] baryluk commented on #312
@zdavatz , @metaodi off topic, but I also track most recent failed scrapers at this link: https://www.functor.xyz/covid_19/scrapers/outputs/latest_failures.txt  , just in case if you want to verify if the failure you are seeing, is just you or everybody ;)

[2020-03-29 18:02] baryluk commented on #312
I will send a fix to VS in ~2 hours. It looks to be a rather easy. Anybody else want to grab it to code maybe? A scraper for GE could be a good example how to deal with PDFs.

[2020-03-29 18:25] baryluk commented on #312
Actually current numbers are still available on the main site, with different format:

Aktuelle Situation im Kanton Wallis
[code]

[2020-03-29 18:27] baryluk commented on #312
Actually, the format is almost the same and should work with the current scraper. Looking into this.

[2020-03-29 18:30] abieler commented on #193
hi guys. i ll try some machine learning / nlp on those texts to see if we could parse them that way. will have an update on my attempts by tomorrow. cheers.

[2020-03-29 18:33] zdavatz commented on #312
thank you @baryluk

[2020-03-29 18:49] baryluk commented on #312
Ok. Fix ready for merging.

I will still look into scraping the data from PDFs, as they contain also hour of a day, and ICU and intubation numbers.

[2020-03-29 18:51] baryluk opened #315 "Extract ICU and intubation numbers from PDFs for VS scraper"
https://www.vs.ch/de/web/coronavirus/statistiques  contains list of PDFs for last few days, with a bit more info, like https://www.vs.ch/documents/6756452/7008787/Sit%20Epid%20-%20%C3%89tat%20Stand%2029.03.2020.pdf

Compared to the main website https://www.vs.ch/de/web/coronavirus , PDFs also do contain information about number of patients on ICU and intubated, so that is worth scraping.

[2020-03-29 18:56] zdavatz commented on #312
That would be supercool!

[2020-03-29 18:57] baryluk commented on #295
* VS: Extracting additional data from pdfs tracked in https://github.com/openZH/covid_19/issues/295

[2020-03-29 19:18] #312 closed

[2020-03-29 19:21] pedrodude commented on #215
It'd be good to know from someone in the TI government (and any other cantons that have similar ambiguity around wording) what this means as it presumably affects the use of this stat as a proxy variable.
I'd guess that the interpretation of "number of people requiring external breathing assistance" (which apparently doesn't necessarily need to be done by machine) helps clarify the severity of the

[2020-03-29 19:31] tlorusso commented on #215
We have confirmation by the TI aithorities that intubato really just includes intubated patients in the case of TI (noninvasive ventilation is excluded) @pedrodude. See #250

[2020-03-29 20:38] metaodi commented on #253
In #316 the numbers for GE were fixed. And in #305 a validator script was merged, so that these situations should no longer happen.

[2020-03-29 20:38] #253 closed

[2020-03-29 20:39] metaodi commented on #262
Fixed with #296

[2020-03-29 20:39] #262 closed

[2020-03-29 22:15] metaodi commented on #309
My understanding is, that if we put a number in a column, that number was communicated by a canton for that date. If there is no information (like for AG as @fabian mentioned), the field is empty.
We have a validation step, to ensure values only stay the same or increase for a the cumulative fields.

But I agree, this should be documented.

[2020-03-30 06:11] Pseudomanifold commented on #309
Thanks for clarifying! This behaviour makes a lot of sense. Let me know if I can help in documenting it or related behaviours.

[2020-03-30 06:24] andreasamsler commented on #278
Hi Timon (@zukunft ), yes, we do that, if there are official sources with URLs, which we can attribute to the values. Do you have got a list of these sources already?

[2020-03-30 07:17] tlorusso commented on #193
We've recieved feedback from the department of health of Basel Stadt. They suggest we either report total confirmed / total hospitalized OR total confirmed residents and total hospitalized residents to stay consistent.

[2020-03-30 07:53] jb3-2 commented on #193
OK I am starting to do this right now in a branch.

[2020-03-30 08:01] zukunft commented on #193
ZG just confirmed that the "ncumul_conf" are the residents. E.g. if a person with resident ZG is in TI in the hospital, the case would be included in the ZG numbers. So the new columns make sense to avoid double counting.

[2020-03-30 08:42] zukunft commented on #278
E.g. for VS the urls are
https://www.vs.ch/documents/6756452/7008787/Sit%20Epid%20-%20%C3%89tat%20Stand%2027.03.2020.pdf
and
https://www.vs.ch/documents/6756452/7008787/Sit%20Epid%20-%20%C3%89tat%20Stand%2026.03.2020.pdf

The number of "COVID-19 hospitalisés" for the 24.03.2020 changed from 79 to 81. Small thing, but to be correct.

[2020-03-30 09:25] jb3-2 opened #321 "BS scraper adds old source url"
The BS Scraper seems to add an old source url instead of using the current url, see e.g. [here](https://github.com/openZH/covid_19/commit/8db54222e73c371f76d9134378b26a38f02c4721), were the scraper uses the url dating back from 27.3.2020 instead of the [url](https://www.coronavirus.bs.ch/nm/2020-tagesbulletin-coronavirus-621-bestaetigte-faelle-im-kanton-basel-stadt-gd.html) of today (30.3.2020).

[2020-03-30 10:10] jb3-2 commented on #193
I have added the two columns to the canton BS file, corrected the values, and added new values from the BS press releases, see this branch: https://github.com/openZH/covid_19/tree/Enhance-BS-data---issue-193

@metaodi Apparently the script that merges all canton files into the CH file does not work yet correctly when new columns are added, the CH file was inconsistent for a short amount of time, a

[2020-03-30 10:11] jb3-2 commented on #187
We face a similar issue in the canton_total files, see #193.

[2020-03-30 11:37] andreasamsler opened #322 "Released individuals TI"
TI: "Seit dem 28.03.2020 wurden 58 Personen aus den sanitären Einrichtungen entlassen."
Source: https://www4.ti.ch/area-media/comunicati/dettaglio-comunicato/?NEWS_ID=187546&tx_tichareamedia_comunicazioni%5Baction%5D=show&tx_tichareamedia_comunicazioni%5Bcontroller%5D=Comunicazioni&cHash=1465eace9ac68357130a7327d0c9b8f9

[2020-03-30 12:16] zdavatz opened #323 "BAG reported complete wrong numbers today or they are now faster then the cantonal reporting."
This is the total per today as of 13.05
[latest.csv.zip](https://github.com/openZH/covid_19/files/4402543/latest.csv.zip)
https://www.functor.xyz/covid_19/scrapers/outputs/

<img width="613" alt="Bildschirmfoto 2020-03-30 um 14 09 39" src="https://user-images.githubusercontent.com/4953/77911018-66932d80-7290-11ea-9572-529a9f6ed1b2.png">

BAG reports
<img width="884" alt="Bildschirmfoto 2020-03-30

[2020-03-30 12:22] metaodi opened #324 "BE scraper fails"
[BE scraper fails](https://github.com/openZH/covid_19/actions/runs/66489667):

[code]

[2020-03-30 12:23] metaodi opened #325 "FR scraper fails"
[FR scraper fails](https://github.com/openZH/covid_19/runs/545287127?check_suite_focus=true):

[code]

[2020-03-30 12:29] tlorusso commented on #260
After extensive research and having received feedback by several Cantons we have confirmation that the numbers they report focus on invasive ventilation. The figures seem thus to be consistent.

Shortly, we will adapt to this. The `intub` columns in the files for GE and TI will thus become obsolete, the respective values will be stored in the `ncumul_vent`-column. If selected Cantons will start re

[2020-03-30 12:40] pedrodude commented on #215
Many thanks!

[2020-03-30 12:43] tlorusso commented on #215
Your welcome, thank you for bringing this up. Closing this now. @pedrodude

[2020-03-30 12:43] #215 closed

[2020-03-30 13:11] raphaelmoser commented on #324
Bern hat umgestellt auf mehr Daten:

<table cellspacing="0" summary="Laufend aktualisierte Zahlen zu den Corona-Erkrankungen im Kanton Bern">
<colgroup>
<col width="10%"></col>
<col width="10%"></col>
<col width="10%"></col>
<col width="10%"></col>
<col width="10%"></col>
<col width="10%"></col>
<col width="10%"></col>
</colgroup>
<thead>
<tr>
<th id="th_top_5147_1A"><strong>Datum</strong></th>
<t

[2020-03-30 13:32] zdavatz opened #327 "GE Scraper numbers are off, PDF more up to date better"
The number for the GE Scraper is off. We need to parse the PDF for Geneva to get the correct numbers from the scraper.

This is the correct URL for Geneva: https://www.ge.ch/document/covid-19-situation-epidemiologique-geneve/telecharger

cc @baryluk

related. #323

[2020-03-30 14:01] calmyournerves commented on #327
It looks like the table on top in the PDF is an embedded image. This makes it very hard to parse.

[2020-03-30 14:19] metaodi commented on #327
Note that we already parse a PDF for GE, and we use pdftotext to extract the content.

[2020-03-30 14:38] calmyournerves commented on #327
@metaodi Yeah, saw that. But `pdftotext` does not work for images. Here's the `pdftotext`-Output of the above URL:

[code]

[2020-03-30 14:40] andreasamsler commented on #327
Note that "we need to ..." is not what we need to do. We are grateful for the issues, everyone is reporting (except issues which are about bullying other contributors or actors in the current situation.

What we need to do, is to analyse each of the issues, you are reporting. And come up with solutions. We do not need to be fast primarily, but responsible with our actions. Thanks!

[2020-03-30 14:46] andreasamsler commented on #323
Dear @zdavatz, I don't see a reason, why you would post this in here. I would advise you to address these concerns - in a constructive manner (if I allow myself to suggest that) - to the respective data source. We are not playing counterstrike or alike here. We are filling a gap (as long as it is necessary), we are following an open approach, and we are offering an additional data source. Nothing

[2020-03-30 14:55] #325 closed

[2020-03-30 16:15] zdavatz commented on #327
I agree, the numbers have to be correct. Maybe @baryluk has a good solution for scraping, using OCR ;).

[2020-03-30 16:17] zdavatz commented on #323
Just comparing the numbers. But feel free to close the issue.

[2020-03-30 16:17] #323 closed

[2020-03-30 16:34] #324 closed

[2020-03-30 17:43] zdavatz commented on #323
let me know what you think of this @cclauss

[2020-03-30 18:37] metaodi commented on #321
The source is currently hardcoded, I'll look into getting the actual URL from the scraper.

[2020-03-30 19:11] baryluk opened #331 "Scraper for BL not working anymore (2020-03-30)"
https://www.statistik.bl.ch/files/sites/Grafiken/COVID19/Grafik_COVID19_BL_Linie.htm  gives 404 not found error.

I think data was moved here: https://www.baselland.ch/politik-und-behorden/direktionen/volkswirtschafts-und-gesundheitsdirektion/amt-fur-gesundheit/medizinische-dienste/kantonsarztlicher-dienst/aktuelles/covid-19-faelle-kanton-basel-landschaft

[2020-03-30 19:13] baryluk commented on #321
BS scraper should be extracting the latest URL and latest data correctly.

It gives me now: https://www.gd.bs.ch//nm/2020-tagesbulletin-coronavirus-621-bestaetigte-faelle-im-kanton-basel-stadt-gd.html  , which is the correct URL. Not sure why CVS got other URL.

[2020-03-30 19:16] baryluk commented on #321
Oh. I see @metaodi . I see. It is not a problem with scraper, but with the workflow.

In `add_db_entry.py` we should do similar to what we do in `convert_parsed_to_csv.py`, and not use SCRAPE_SOURCE from environment.

[2020-03-30 19:17] baryluk commented on #331
Data is also available here:

https://www.statistik.bl.ch/files/sites/Grafiken/COVID19/20200330_COVID19_BL.htm?single=true

[2020-03-30 19:20] metaodi commented on #321
@baryluk exactly 😉 I'm on it. I anyway touch this code currently to support custom schemas (i.e. cantons with extra fields in their CSV).

[2020-03-30 19:23] baryluk commented on #327
Yeah. We are using https://www.ge.ch/document/point-coronavirus-maladie-covid-19/telecharger at the moment, but last time it was updated on 2020-03-27.

https://www.ge.ch/document/covid-19-situation-epidemiologique-geneve/telecharger  has more information, but it has data as images, not something easy to extract.

[2020-03-30 19:28] #331 closed

[2020-03-30 19:40] zdavatz commented on #327
I wanna try this tomorrow. https://medium.com/@MicroPyramid/extract-text-with-ocr-for-all-image-types-in-python-using-pytesseract-ec3c53e5fc3a

[2020-03-30 19:51] baryluk commented on #327
@zdavatz Yeah. tesseract should be able to handle it.

I think tho, contacting people responsible for this data in Geneva to make it easier for us and others, is a better option :)

[2020-03-30 19:57] zdavatz commented on #327
True. Will try that as well.

[2020-03-30 19:59] abieler commented on #193
Hi all, not sure this is needed but managed to build a parser for the BS daily bulletin, including cases of "vierzehn" etc. happy to provide the code/model if you feel it could be helpful.

also happy to help on other fronts if someone wants to point me somewhere specific.

cheers and thanks for your work!

[2020-03-30 20:54] baryluk commented on #322
To be updated by hand I think. We will see if the daily bulletins stay consistent with providing this information.

[2020-03-30 20:56] baryluk commented on #309
Yes, to an extent filling the gaps is to be done by consumer of the files. If the row has some empty field, the consumer is free to use some previous rows to fill it up, with all the caveats of this approach. The data itself shouldn't be really filled / guessed, because it is not what the source is providing, and we would be giving a bad picture of what actually is going on.

[2020-03-30 21:00] baryluk commented on #315
I do have a code to do that, hope to clean it up, and send for review today.

[2020-03-30 21:02] baryluk commented on #196
Anything heard back?

[2020-03-30 21:03] zukunft commented on #196
Not yet.

[2020-03-30 21:47] fabiomariotti opened #334 "tagesanzeiger numbers: Do you know why they differ"
Hoi guys,
Thanks a lot for this effort and for everything!

I see in this link:

https://interaktiv.tagesanzeiger.ch/2020/wuhan-schweiz/?fbclid=IwAR2eAwbDIMw9VmZ4ZEa7p8DvbF5PK4TiJDpGIwhmcEI404e0WquXV-Rhbls

Different data.

In particular the "recovered".

Do you you know what it is and why it does not match?

In the same line, it appears that here:

https://gisanddata.maps.arcgis.com/apps/opsdashb

[2020-03-30 21:49] fabiomariotti commented on #334
I just want to remark: Thanks!
The questions above are details compared to your effort.

[2020-03-30 22:16] zukunft commented on #196
I tried another email address .. I will call tomorrow, if I still have no reaction.

[2020-03-30 22:24] tlorusso commented on #334
1. The Tagesanzeiger calculates the «recovered» based on some assumptions (see notes below the visualizations). The Cantons don't report this numbers. A few Cantons report the number of people released from hospital or isolation. Thats the number we collect.

2. I assume the source for the Swiss Case numbers in this Dashboard is the BAG.

If you're interested in the differences between the data so

[2020-03-30 22:25] #334 closed

[2020-03-31 05:09] lcalmbach opened #335 "should non reported changes be updated to last known value?"
In many time series, reported values are discontinued. This is particularly true for series with rare changes e.g. the number of deceased. e.g. for AG a number of deceased is reported until 2020-03-18. After that the BAG still provides daily reports but apparently no number of released patients. Would it not be safe to assume that the number of deceased has hence not changed and report the last kn

[2020-03-31 05:12] fabian commented on #335
Related to #309

[2020-03-31 06:58] zdavatz commented on #327
Actually [pytesseract](https://pypi.org/project/pytesseract/) works quite well, I am getting these numbers:

[code]

@baryluk I think you should be able to grab those, once you have the image from the PDF file.

[2020-03-31 07:31] JBeyel opened #336 "Issue with SO data today"
SO has updated the report on its cantonal site and is already updated on the site here. The cantonal report says that there are a total of 190 cases as of today which is the same number reported on 29.3. but in brackets it says that the total is a + of 6 cases compared to 29.3. Both information cannot be correct. Maybe someone can check that. I didn't find a short solution to contact the person th

[2020-03-31 08:11] zukunft commented on #196
FL does not want to change the format at the moment. They will continue to report daily at 17:00 on www.regierung.li/coronavirus. Like ZG the numbers are domicile based, not current location / hospital based

[2020-03-31 08:52] zukunft commented on #238
"date of result" is used in ZG and FL.

[2020-03-31 08:56] zukunft commented on #187
Answers are in #238

[2020-03-31 11:27] metaodi commented on #335
I'd argue that we report exactly what the cantons report. If you want to "assume" that a value has not changed, you're free to do so (and explain your methodology). But an empty value means that there is no data for this field on this date.

Note: this is my personal opinion, maybe @andreasamsler or @mmznrSTAT have a different take on this.

[2020-03-31 11:35] metaodi commented on #309
@Pseudomanifold please review #337, does that clarify things? Any feedback is appreciated.

[2020-03-31 11:37] metaodi opened #338 "LU scraper fails"
The [LU scraper fails today](https://github.com/openZH/covid_19/runs/548484944?check_suite_focus=true):

[code]

[2020-03-31 11:56] #338 closed

[2020-03-31 12:06] #309 closed

[2020-03-31 12:06] #335 closed

[2020-03-31 12:12] jeanbrouille opened #341 "NEW URL for VD data"
Hi,

I'm caring about datas for vd. Please find the new url : https://www.vd.ch/toutes-les-actualites/hotline-et-informations-sur-le-coronavirus/point-de-situation-statistique-dans-le-canton-de-vaud/

where you can find datas uptodate.

BR
JR

[2020-03-31 12:17] tlorusso commented on #341
Thx @jeanbrouille !

[2020-03-31 12:20] metaodi commented on #336
I quickly checked [archive.org their website on the 29.3.](https://web.archive.org/web/20200329080917/https://corona.so.ch/):

![so_2020-03-29](https://user-images.githubusercontent.com/538415/78025340-2ac49a80-735a-11ea-808a-2bd53d1ac134.png)

So this suggest that 190 was their actual value on the 29.3. (and +17 is consistent with the value 173 from the 28.3.).

So most probably the value of toda

[2020-03-31 12:32] tlorusso commented on #341
@jeanbrouille will the figures regarding the patients in instensive care units also be published on that site?

[2020-03-31 12:34] metaodi commented on #341
We are currently consuming the datawrapper API of the website of VD, it seems the new URL still uses the same datawrapper source, so currently no change is needed on our side.

[2020-03-31 12:43] stat1x commented on #341
If I search in the code of this repository I can find this URL 3 times here : https://github.com/openZH/covid_19/search?q=https%3A%2F%2Fwww.vd.ch%2Ftoutes-les-actualites%2Fhotline-et-informations-sur-le-coronavirus%2F&unscoped_q=https%3A%2F%2Fwww.vd.ch%2Ftoutes-les-actualites%2Fhotline-et-informations-sur-le-coronavirus%2F

[2020-03-31 12:43] metaodi commented on #336
I just checked their website again, they updated the number to 196.

[2020-03-31 12:43] #336 closed

[2020-03-31 12:54] andreasamsler commented on #321
Same issue for BL. Thanks.

[2020-03-31 13:00] Pseudomanifold commented on #309
Yes, thanks a lot!

[2020-03-31 13:02] jb3-2 commented on #188
BS Zahlen zu den verstorbenen nach Alter und Geschlecht sind nun hier zu finden: https://github.com/openZH/covid_19/blob/master/fallzahlen_kanton_alter_geschlecht_csv/COVID19_Fallzahlen_Kanton_BS_alter_geschlecht.csv

[2020-03-31 13:32] tlorusso opened #343 "ncumul_conf empty between 5.3.-11.3 despite sources available (TI)"
Have these values been omitted intentionally? It seems like just the sources have been added when those rows have been created. I think we should insert the values too.

Example (5.03.2020)

[> Allo stato attuale in Ticino si registrano 18 casi di persone risultate positive al Coronavirus. ](https://www4.ti.ch/area-media/comunicati/dettaglio-comunicato/?NEWS_ID=187385&tx_tichareamedia_comunicazion

[2020-03-31 13:50] metaodi commented on #343
I traced it back to it's original location here: https://github.com/openZH/covid_19/commit/0a237dea91a90120211f0cc81e8b020a33309d74

They were not added then and never updated since then. It seems to be an oversight.

[2020-03-31 13:54] metaodi commented on #341
@stat1x true, I updated the SCRAPER_SOURCE so that the correct source is noted in the CSV.

[2020-03-31 13:54] tlorusso commented on #343
Ok. Will add them tonight.

[2020-03-31 13:57] #341 closed

[2020-03-31 14:02] metaodi opened #345 "AR scraper fails"
[It fails currently](https://github.com/openZH/covid_19/runs/548765287?check_suite_focus=true):

[code]

[2020-03-31 14:04] metaodi opened #346 "NW scraper fails"
The [scraper fails today](https://github.com/openZH/covid_19/runs/548758834?check_suite_focus=true):

[code]

[2020-03-31 15:10] jeanbrouille commented on #341
@tlorusso "will the figures regarding the patients in instensive care units also be published on that site?" Yes new data coming up tomorrow.

[2020-03-31 15:45] #321 closed

[2020-03-31 15:58] zdavatz opened #351 "BE Scraper fails"
[code]
cc @baryluk

[2020-03-31 15:59] zdavatz opened #352 "BL scraper fails"
[code]
cc @baryluk

[2020-03-31 16:02] #352 closed

[2020-03-31 16:03] zdavatz commented on #345
is working for me now:
[code]

[2020-03-31 16:03] zdavatz opened #353 "TI scraper fails"
[code]

[2020-03-31 16:06] zdavatz opened #354 "ZH scraper fails"
[code]
cc @baryluk

[2020-03-31 17:41] metaodi commented on #345
yes seems to work again. Thanks for testing @zdavatz

[2020-03-31 17:41] #345 closed

[2020-03-31 18:10] zdavatz opened #357 "NE scraper fails"
[code]
cc @baryluk

[2020-03-31 18:47] baryluk commented on #346
Fixing.

[2020-03-31 19:01] #346 closed

[2020-03-31 19:02] #353 closed

[2020-03-31 19:11] baryluk commented on #357
I don't see any numbers any more on https://www.ne.ch/autorites/DFS/SCSP/medecin-cantonal/maladies-vaccinations/Pages/Coronavirus.aspx

I send them an email.

Could you look around yourself, maybe I missed some page where this data is available?

If not send them an email too please.

[2020-03-31 19:14] baryluk commented on #357
I see some data in https://www.ne.ch/autorites/DFS/SCSP/medecin-cantonal/maladies-vaccinations/Documents/Covid-19-Statistiques/COVID19_PublicationInternet.pdf

Scrape possible, but still non trivial.

[2020-03-31 19:14] baryluk commented on #351
Looking into it. Table parsing failure. Some rows / columns changed again.

[2020-03-31 19:17] zdavatz commented on #351
I may be easier if we just start parsing the XLSX file from BAG:

https://www.bag.admin.ch/dam/bag/de/dokumente/mt/k-und-i/aktuelle-ausbrueche-pandemien/2019-nCoV/covid-19-datengrundlage-lagebericht.xlsx.download.xlsx/200325_Datengrundlage_Grafiken_COVID-19-Bericht.xlsx

if a parser fails.

[2020-03-31 19:18] #354 closed

[2020-03-31 19:19] baryluk commented on #357
I looked into `pdftotext` for this PDF, and I would say, it is essentially impossible to parse reliably, due to nature of the graph, rotated text, invisible line breaks, and other factors (like there is no guarantees of the data order, and correspondence of data and number of cases).

[2020-03-31 19:20] baryluk commented on #351
@zdavatz I will create a parser for the file. It is useful to have as a backup and cross-reference anyway.

[2020-03-31 19:22] metaodi commented on #351
But as said before, we won't put the numbers from the BAG in this repo. It's meant as an alternative data source directly from the cantons. It's not about having _any_ number.

[2020-03-31 19:28] baryluk commented on #327
Looks very promising.

Images should be easy to extract using `pdfimages` from `popller-utils` (same package that provides `pdftotext`).

Sad news is that images are broken up into sub-parts partially:

1)

![-000](https://user-images.githubusercontent.com/110322/78067151-c3244480-7385-11ea-8b69-e061de36c06d.png)

2)

![-001](https://user-images.githubusercontent.com/110322/78067154-c4557180-7385-

[2020-03-31 19:34] metaodi commented on #357
I checked archive.org, it seems as if they just removed the block with the numbers, that was previously in the section titled "Quelle est la situation actuelle ?"

[2020-03-31 19:34] baryluk commented on #327
I tried tesseract on the second image, and got this:

[code]

That is not good enough. 250 is wrong, should be 2450.

26 is wrong, it should be 165.

2412 is wrong, should 241.

821 is wrong, it should be 321.

@zdavatz Could you provide more details how you run tesseract, with options, and upload the exact input that you gave it?

I am using tesseract 4.1.1, with fra, eng, and osd files at versio

[2020-03-31 19:41] zdavatz commented on #327
@baryluk did you install `pytesseract`with `pip install --user pytesseract` (on Linux). Once that is installed you can just do: `pytesseract image.png` and grab the data from there. See: https://pypi.org/project/pytesseract/

I think this task is made for you ;).

[2020-03-31 19:45] baryluk commented on #327
@zdavatz I need to know more. Like exact version of libraries, tesseract and language files.

[2020-03-31 19:47] baryluk commented on #327
@zdavatz

I installed pytesseract and it doesn't work:

[code]

[2020-03-31 19:48] zdavatz commented on #327
All I really done is `pip install --user pytesseract` nothing else.  I also tested on my Mac with Python 2.7.17.

I just now I tested with this image:
<img width="764" alt="Bildschirmfoto 2020-03-31 um 21 44 04" src="https://user-images.githubusercontent.com/4953/78068706-266ba200-7399-11ea-911f-9bec3a83f0bc.png">

doing

<img width="1096" alt="Bildschirmfoto 2020-03-31 um 21 47 38" src="https://u

[2020-03-31 19:49] zdavatz commented on #327
How did you take the Screenshot? I done it with `Command+Shift+4` on my Mac.

[2020-03-31 19:50] baryluk commented on #327
@zdavatz How did you get an input image? Just screenshot it? `pdfimages`? `pdftoppm -png`?

[2020-03-31 19:51] baryluk commented on #327
@zdavatz I used `pdfimages` to exact raw embedded images directly from the PDF without any conversion or resizing.

[2020-03-31 19:52] zdavatz commented on #327
See above, just posted. On my Mac I done `Command+Shift+4" and fed that to pytesseract. What version of Python are you using?

[2020-03-31 19:53] zdavatz commented on #327
Can you try grabing the first 30% of the first page using imagemagick?

[2020-03-31 19:54] zdavatz commented on #327
The image you posted above does not give me good results with `pytesseract`. Must be something with the way you take the image.

[2020-03-31 20:00] baryluk commented on #327
I tried `pytesseract` again, with some fixes, and it gives me exactly same results as using `tesseract-ocr` from command line. pytesseract is just a helper / library that utilized `tesseract-ocr`, so there will be no quality changes using one or another.

[2020-03-31 20:05] zdavatz commented on #357
@baryluk I think you should be able to grab the number here with "pdfgrep". See:

<img width="1405" alt="Bildschirmfoto 2020-03-31 um 22 04 13" src="https://user-images.githubusercontent.com/4953/78070195-abf05180-739b-11ea-8615-b81b7e523de7.png">

If you know what the last number is ;). Just always take the last number in the row. This is actually Text in the file ;).

[2020-03-31 20:05] baryluk commented on #327
@zdavatz Well, I will check.

I tried this:
![telecharger](https://user-images.githubusercontent.com/110322/78070084-b8b87980-738a-11ea-91ef-990c5747a5b5.png)

And it makes a big mess:

[code]

with `--psm 11`:

[code]

Again mess and mistakes.

It looks like very sensitive to other stuff on page.

In the mean time I filled this: https://github.com/madmaze/pytesseract/issues/264 to tesseract team.

[2020-03-31 20:10] zdavatz commented on #327
@baryluk The nice thing about pytesseract is, that it uses the Google OCR API. I think key is that you first take a picture of the first 30% of the image using imagemagick and then you feed that to pytesseract.

Tesseract in itself is a beast. We stopped using it once Google/Apple came out with their Vision APIs.

[2020-03-31 20:12] zdavatz commented on #327
I wann try this tomorrow with [imagemagick](http://www.imagemagick.org/discourse-server/viewtopic.php?t=35073): `convert 'myfile.pdf[0]' outfile.jpg` then feed that to `pytesseract`.

[2020-03-31 20:16] zdavatz commented on #351
@baryluk Great!! And please output is as a separate file on functor.xyz. We are already parsing that file with [Javascript ](https://github.com/zdavatz/covid2019_ch_map/) ;) and building this [Map](https://twitter.com/zdavatz/status/1245057239578218498?s=20) in case you want a code reference and you like Javascript.

[2020-03-31 20:17] baryluk commented on #357
@zdavatz That is not usable.

[2020-03-31 20:23] baryluk commented on #357
@metaodi Yes,

http://web.archive.org/web/20200329210634/https://www.ne.ch/autorites/DFS/SCSP/medecin-cantonal/maladies-vaccinations/Pages/Coronavirus.aspx

![Screenshot at 2020-03-31 20-22-02](https://user-images.githubusercontent.com/110322/78071645-6462c900-738d-11ea-868f-84326eebf617.png)

[2020-03-31 20:26] baryluk commented on #196
Good to know. Fortunately the numbers for FL are low, and it is only of few exceptions, so it is not a huge burden to look them up.

Thanks Timon @zukunft for updating csv files manually :)

[2020-03-31 20:29] baryluk commented on #322
Yesterday (2020-03-30) it was saying:

Today (2020-03-31) it is saying:

The data is there. Still unstable to scrape automatically.

Will wait one more day.

[2020-03-31 20:32] baryluk commented on #327
@zdavatz I tried with convert already. It results in same issues, or is even worse.

I used `convert -density 300 input.pdf output.png`

[2020-03-31 20:33] baryluk commented on #327
I am testing https://cloud.google.com/vision/docs/ocr and  https://cloud.google.com/vision/docs/pdf now.

[2020-03-31 20:33] baryluk commented on #327
@zdavatz pytesseract doesn't use Google OCR APIs. If I don't have tesseract installed locally it fails to even start.

[2020-03-31 20:41] baryluk commented on #327
This is result of feeding just the first table to Google Vision annotate API:

[table1.json.txt](https://github.com/openZH/covid_19/files/4411487/table1.json.txt)

It appears somehow usable, but still requires a lot of postprocessing, sorting to do a layout, etc.

[2020-03-31 20:42] baryluk commented on #351
Fix coming soon.

[2020-03-31 21:25] #351 closed

[2020-03-31 21:36] baryluk commented on #357
@zdavatz , @metaodi Send them an email of some form to complain. Thanks.

[2020-04-01 02:05] baryluk commented on #321
@metaodi Great work Stefan! Thanks.

[2020-04-01 02:06] baryluk commented on #343
@tlorusso Thanks Thomas for spotting the issue and providing the backfill of data! Cheers.

[2020-04-01 02:08] baryluk commented on #357
@jb3-2 Could you nudge them a bit too. Thanks.

[2020-04-01 02:11] baryluk commented on #260
@tlorusso That make sense. Thanks for a work on this.

This is really good to converge on common definitions. Do we have some place to track if reported ventilation numbers are inclusive of mechanical ventilation and non-invasive respiration aids for each canton?

[2020-04-01 02:12] baryluk commented on #295
Could somebody please help me with some other non-covered areas? I think it would be good to have 100% coverage and understanding what data is being provided.

[2020-04-01 02:15] baryluk commented on #268
Data "only". I think people, and reviewers are already pretty busy with the data itself. Can't push them to be proficient with all analysis tools and languages too.

I appreciate the Jupyter notebook and R code already very much (they are really nice!), but even that should probably go to other repo. Even my bash scripts that do some rudimentary analyses should go somewhere else. Only validation s

[2020-04-01 02:17] baryluk commented on #315
I have a code working, but I really don't like the PDF parsing that much, so that is why I am waiting a bit until is somehow reliable (not break everyday).

[2020-04-01 02:18] baryluk commented on #238
Could you make a commit / PR that summarized our understanding of this data for each canton? And what BAG is recommending for reporting?

`TIMING.md` maybe?

[2020-04-01 02:38] baryluk commented on #327
FYI. https://www.ge.ch/document/point-coronavirus-maladie-covid-19/telecharger was just updated, and numbers looks good:

[code]

[2020-04-01 05:07] baryluk commented on #193
@abieler Could you share a code? I don't think we will use much, but would be nice to see what you got. Thanks.

[2020-04-01 06:22] zdavatz commented on #327
great!

[2020-04-01 06:22] #327 closed

[2020-04-01 06:23] zdavatz commented on #357
Ok, will do so.

[2020-04-01 07:36] Kuurusch opened #362 "Number of tested people"
It seams that there is no data about the number of tested people, is this so? What do you know about the amount of tests each day in switzerland? I hope this is fixed, otherwise it will be quite difficult do make reliable assumtions about the data! Normally you would need to normalize the positive tested cases with the amount of tests each day...

[2020-04-01 08:19] zdavatz opened #363 "AR scraper fails"
[code]

[2020-04-01 08:36] metaodi commented on #363
The GitHub Action ~20min ago didn't fail: https://github.com/openZH/covid_19/runs/551260193?check_suite_focus=true

And my quick local test doesn't fail either. Maybe just a temporary glitch?

[2020-04-01 09:05] zdavatz commented on #363
looks like it. Closing.

[2020-04-01 09:05] #363 closed

[2020-04-01 09:15] zdavatz commented on #362
The number is in the PDF of BAG. See [this link](https://twitter.com/rob_salzer/status/1245032309486649346?s=20)

[2020-04-01 09:16] andreasamsler commented on #362
In our repo we are strictly relying on data officially published by official sources from Cantons and FL. If they have reported data for ncumul_tested, we publish it, too. If not, we don't.

And once more, and again, we do not mix BAG data and data of Cantons & FL.

[2020-04-01 09:16] #362 closed

[2020-04-01 09:46] claudia013 opened #364 "NE new data / correction of data"
NE provides the case numbers in a PDF file since yesterday and the scraper doesn't pick up on that anymore. Further, they seem to have corrected all of the case numbers and added hospitalized, ICU and ventilated cases for most of March, so this data needs to be corrected / added. Thanks

[2020-04-01 09:48] claudia013 commented on #364
The NE scraper also reported an error (25min ago)
##[error]Process completed with exit code 1.

[2020-04-01 09:52] andreasamsler commented on #364
I contacted NE about the correction of their data in retrospect, asking about what data we should rely on.

[2020-04-01 09:53] claudia013 opened #365 "error run VD scraper"
There was an error from the VS scraper (10min ago)
##[error]Process completed with exit code 1.

[2020-04-01 09:55] claudia013 commented on #365
another error message also one hour ago but not before that

[2020-04-01 10:35] metaodi commented on #364
For the failed scraper we have a separate issue: #357

[2020-04-01 11:08] metaodi commented on #365
It looks like that VD actually now provides more data, so the scraper could be extended. That's why it fails.

[2020-04-01 12:40] JudithBouman2412 opened #367 "Fallzahlen VD changed from 16.3 to 30.3"
VD changed their numbers for the hospitalization, intensive care and deceased from 16.3 to 30.3. https://www.vd.ch/toutes-les-actualites/hotline-et-informations-sur-le-coronavirus/point-de-situation-statistique-dans-le-canton-de-vaud/
These need to be updated.

[2020-04-01 12:42] andreasamsler commented on #367
Will update retrospectively, and communicate changes publicly (Tweet).

[2020-04-01 12:43] andreasamsler commented on #364
Will update retrospectively, and communicate changes publicly (Tweet).

[2020-04-01 12:55] claudia013 commented on #367
as far as i remember they changed the whole format of reporting case numbers, might be an issue for the scraper in general?

[2020-04-01 13:40] metaodi commented on #365
Fixed with #368

[2020-04-01 13:40] #365 closed

[2020-04-01 13:42] metaodi commented on #367
No the scraper uses the API of their website, a PR (#368) to change to the new format was merged and everything should be fine the next time the scraper runs

[2020-04-01 14:10] metaodi opened #370 "BS scraper fails"
Currently the [BS scraper fails](https://github.com/openZH/covid_19/actions/runs/68276618), not sure if the format changed (again?).

[code]

[2020-04-01 14:13] metaodi opened #371 "GR scraper fails with unknown date format"
[GR scraper fails](https://github.com/openZH/covid_19/runs/551993985?check_suite_focus=true), it seems they use a date format we don't yet handle:

[code]

[2020-04-01 14:16] metaodi opened #372 "LU scraper fails"
[LU scraper currently fails](https://github.com/openZH/covid_19/runs/552000729?check_suite_focus=true):

[code]

[2020-04-01 15:32] andreasamsler opened #373 "2020-03-31 GE publishes no. of tests p. day historized"
https://www.ge.ch/document/covid-19-situation-epidemiologique-geneve/telecharger

[2020-04-01 17:13] zdavatz commented on #327
cc @baryluk this works for me:

1. `gs -o cropped.pdf -sDEVICE=pdfwrite -c "[/CropBox [24 600 800 650]" -c "/PAGES pdfmark" -f covid-19_ge_situation_01_04_20-s.pdf`
2. `convert -density 500 cropped.pdf baryluk.png`
3.
[code]

[2020-04-01 19:14] baryluk commented on #370
Looking into it.

[2020-04-01 21:03] #372 closed

[2020-04-01 21:04] #370 closed

[2020-04-01 21:04] #371 closed

[2020-04-01 22:19] #343 closed

[2020-04-02 06:31] tlorusso commented on #238
Thanks @zukunft , your research is truly valuable. I think its a good idea to create an overview over these differences @baryluk . We'll look into this shortly.

ZH relies on date of result and for cases on domicile.

[2020-04-02 06:51] baryluk opened #381 "New website format for SG / scraper needs updating"
As of now, 2020-04-02 morning, https://www.sg.ch/tools/informationen-coronavirus.html has a new format:

[code]

Current scraper expects different format, but this one is also easy to work with.

[2020-04-02 07:08] rokroskar commented on #40
@zdavatz or anyone else that is interested in population numbers - I recently started pulling them out of Wikidata (as per the suggestion of someone commenting in the youtube channel during the livestream of the hackathon of all places). You can play with the query [here](https://query.wikidata.org/#SELECT%20DISTINCT%20%3FregionIso%20%3FregionLabel%20%28MAX%28%3Fpopulation_count%29%20AS%20%3Fpopul

[2020-04-02 07:09] zdavatz commented on #40
@rokroskar great, Thank you!

[2020-04-02 07:45] metaodi commented on #381
This is basically the same as LU, see their scraper here: https://github.com/openZH/covid_19/blob/master/scrapers/scrape_lu.sh

[2020-04-02 09:13] andreasamsler commented on #373
https://twitter.com/bradipo1101/status/1245638421541842946?s=20

[2020-04-02 09:44] andreasamsler commented on #373
@simgraworldwide can you take care of this?

[2020-04-02 09:45] andreasamsler commented on #367
@simgraworldwide can you take care of this?

[2020-04-02 09:47] andreasamsler commented on #364
@simgraworldwide can you take care of this?

[2020-04-02 09:55] abieler commented on #193
@baryluk you can take a look here: https://github.com/abieler/bs-bulletin-parser

if you think it could be useful I d be happy to convert to a proper MR here.

cheers

[2020-04-02 09:58] jb3-2 commented on #238
BS uses "date of result", as I see from the press releases. Regarding domicile, I have created a pull request that clarifies which columns cover residents of a canton and which cover all cases irrespective of residence, see https://github.com/openZH/covid_19/pull/355, to be reviewed / merged by @tlorusso

[2020-04-02 09:59] jb3-2 commented on #238
@baryluk @zukunft Please let me know if I can be of any help in clarifying and documenting which cantons use which type of date (date of test vs. date of confirmation).

[2020-04-02 10:06] jb3-2 commented on #193
@abieler Wow that looks pretty concise, thank you very much! Have you checked whether it returns the same numbers for BS that I manually entered today? I'd be very happy if you could create a PR so that I have less manual work to do...
One complication: There are two new columns at the end of the data file - they are created by subtraction of numbers delivered in the press release. Would that be p

[2020-04-02 10:10] zukunft commented on #238
I just receive from SO

Diese Angaben sind schweizweit geregelt und sind überall gleichen.
Alle Antworten zu Ihren Fragen finden Sie in den einschlägigen Meldeverordnungen und den dazugehörigen Dokumenten beim BAG.

At least on some Kantons it seems that at least at the beginning this was not fully clear to all. And the question is, why the BAG reports with the "date of sample taking".
I have not

[2020-04-02 10:43] abieler commented on #193
@jb3-2 added the two extra columns, the numbers for today do check out
(it missed `numcul_deceased` though) these guys come up with some creative writing...
[code]

[2020-04-02 10:45] abieler commented on #193
PR will have to wait for tomorrow though. my day job is keeping me busy for the rest of the day.. :)

[2020-04-02 11:30] zukunft commented on #268
As of 2.4.2020 the BAG report more cases ( 18 267 ) than the sum of the cantons ( 17’976 at 13:20 ). Due to the different date of reporting it is hard to find the differences, but I will try ...

[2020-04-02 11:31] jb3-2 commented on #193
Wow, that is awesome!! Thank you so much, greatly appreciated. I hope I can learn a lot from your code.

[2020-04-02 12:27] jb3-2 commented on #381
Potentially fixed with https://github.com/openZH/covid_19/pull/384

[2020-04-02 12:27] pnwscm60 opened #385 "Differences to official pub Canton NE"
Just checked the publication from Canton NE https://www.ne.ch/autorites/DFS/SCSP/medecin-cantonal/maladies-vaccinations/Documents/Covid-19-Statistiques/COVID19_PublicationInternet.pdf

The data in this document shows differences to collected data by openZH. Should we check other cantons also for difs?

[2020-04-02 12:33] jb3-2 commented on #268
@zukunft Thanks for this analysis! Can you maybe add the link to the BAG table you used to calculate these differences? I'll have a look to find out why BS data are so different - maybe we'll find a pattern here.

[2020-04-02 12:38] zukunft commented on #268
I simply used https://www.bag.admin.ch/dam/bag/de/dokumente/mt/k-und-i/aktuelle-ausbrueche-pandemien/2019-nCoV/covid-19-datengrundlage-lagebericht.xlsx.download.xlsx/200325_Datengrundlage_Grafiken_COVID-19-Bericht.xlsx and snaped the data from https://rsalzer.github.io/COVID_19_CH/ from around 13:30.

AG | 2020-04-01 | 549
AI | 2020-04-02 | 19
AR | 2020-04-02 | 63
BE | 2020-04-01 | 909
BL | 2020-0

[2020-04-02 12:43] andreasamsler commented on #385
Hi, are you relating to differences for today or yesterday (2020-04-02, 2020-04-01) or to differences for the days before? For the latter there's already #364 to be solved.

[2020-04-02 12:46] pnwscm60 commented on #385
Hallo Adrian

Sorry, diese Meldung nicht gesehen. Es geht um die vorherigen Daten, die weichen ja ziemlich deutlich ab.

Danke und Gruss

Markus
___________________________________________

Covid-19 geht uns alle an: Bleibt zu Hause, haltet Abstand und befolgt die Weisungen von Bund und Kanton!

Grafik zur Entwicklung ohne Massnahmen: https://ebpswiss.ch/animation.html <https://ebpswiss.ch/animati

[2020-04-02 12:51] andreasamsler commented on #385
Allright, it's already on the way to be fixed retrospectively. Thanks.

[2020-04-02 12:51] #385 closed

[2020-04-02 13:27] piotrpiotrowski commented on #381
I was also working on this fix and I noticed that the scraper failed [recently](https://github.com/openZH/covid_19/runs/555010371?check_suite_focus=true), we can try this #386

[2020-04-02 14:08] jb3-2 commented on #381
Seems to be fixed now with through #384

[2020-04-02 14:08] #381 closed

[2020-04-02 14:35] jb3-2 commented on #188
Ich schliesse dieses Issue für den Moment.

[2020-04-02 14:35] #188 closed

[2020-04-02 14:37] jb3-2 commented on #68
I have the impression that with the Scraper Status board (https://github.com/openZH/covid_19/blob/master/scrapers/STATUS.md) we have a good overview what's going on, in addition to the manual review by our colleagues. Agree if I close the issue?

[2020-04-02 14:37] #68 closed

[2020-04-02 14:38] jb3-2 commented on #187
I think we can close this issue for now and continue working on it in #238 - agree?

[2020-04-02 14:38] #187 closed

[2020-04-02 15:12] zukunft commented on #187
Agreed.

[2020-04-02 16:45] metaodi opened #389 "BL scraper fails"
[Failed run](https://github.com/openZH/covid_19/runs/555587928?check_suite_focus=true)

[code]

[2020-04-02 17:41] claudia013 opened #390 "Error Merge cantonal CSVs"
Run swinton/screenshot-website@v1.x
Uploading chunk of size 580180 bytes at offset 0 with content range: bytes 0-580179/580180
Total size of all the files uploaded is 580180 bytes
##[error]connect ETIMEDOUT 13.107.42.16:443

[2020-04-02 17:43] claudia013 opened #391 "SO provides new column for ncumul_hosp - scraper doesn't pick up on it"
they added ncumul_hosp but the scraper doesn't pick up on it

[2020-04-02 17:45] claudia013 commented on #357
scraper didn't pick up on the number of cases from yesterday's data

[2020-04-02 17:45] claudia013 opened #392 "AI scraper didn't pick up on data from today"

[2020-04-02 17:46] claudia013 opened #393 "BE scraper didn't pick up on data from today"

[2020-04-02 17:46] claudia013 opened #394 "JU scraper didn't pick up on data from today"

[2020-04-02 17:46] claudia013 opened #395 "UR scraper didn't pick up on data from today"

[2020-04-02 18:02] metaodi commented on #390
works again, probably just a glitch.

[2020-04-02 18:02] #390 closed

[2020-04-02 18:08] metaodi opened #396 "GR scraper fails"
[Failed run](https://github.com/openZH/covid_19/runs/555755143?check_suite_focus=true)

[code]

[2020-04-02 18:31] tlorusso commented on #260
Practice has been to ask whenever a Canton publishes data on this. So far those who report these numbers seem to count invasive-respiration aids. At this point we just mention in the definition in the Readme that the data is based on invasive ventilation. But if further Cantons start publishing we might turn to them as well to ensure that the data is comparable, if not we might have to create an o

[2020-04-02 18:32] tlorusso commented on #260
i'll close this issue for now - we can reopen it if differences in counting show up.

[2020-04-02 18:32] #260 closed

[2020-04-02 19:48] calmyournerves commented on #392
@claudia013 Just checked the [CSV](https://github.com/openZH/covid_19/commit/8c95d8f99aee5227840fabd2560c197836e3c004) and the website ("20 laborbestätigte Fälle") and the data seems to be correct. Am I missing something?

[2020-04-02 21:02] tlorusso commented on #322
The infos regarding from the 2020-03-20 do just say "from the 28.03 on 58 people have been released", but we do not know how many on the 28. and how many on the 29. Also, in contrast to later press releases, it does not say how many from the beginning of the pandemic. However, based on this information, by doing some substraction, we could assume that until the 28.03.30 117 patients have been rele

[2020-04-02 21:33] #396 closed

[2020-04-02 21:40] metaodi commented on #392
The scraper only gets one value per day, if there is already an entry for the day, nothing is changed. I'm not sure if we should change that(?).
I checked the [history of the file](https://github.com/openZH/covid_19/commits/8c95d8f99aee5227840fabd2560c197836e3c004/fallzahlen_kanton_total_csv/COVID19_Fallzahlen_Kanton_AI_total.csv), and the scraper did indeed get a value of today, but it was later

[2020-04-02 21:40] #392 closed

[2020-04-02 21:44] metaodi commented on #393
When the scraper ran and got the new numbers, the manual edit was already done.

[2020-04-02 21:44] #393 closed

[2020-04-02 21:46] metaodi commented on #394
The scraper got the data, but the manual edit was faster.

[2020-04-02 21:46] #394 closed

[2020-04-02 22:05] metaodi commented on #395
The data was added by the scraper in the morning. Currently the scraper  do not update a value if there is a ready an entry for a date.

[2020-04-02 22:05] #395 closed

[2020-04-03 06:58] fab-benz opened #399 "NW scraper adds ncumul_deceased = 0"

[2020-04-03 07:04] #389 closed

[2020-04-03 08:22] zukunft commented on #238
@baryluk The list of answers is getting longer. Should we create a file or page for the overview? This way I could add the link to my answers to the cantons, so that they can double check.
I suggest that we add this to "Cantonal / FL data ressources" in the readme. Sould I make a suggestion?

[2020-04-03 08:48] JudithBouman2412 opened #400 "GR scraper issue"
The scraper did not pick up the data of 3-4-2020, has been added manually to the csv. file.